{% if alertMessages is defined %}
    <div class="alert-body">
        <span class="titleAlert">{{ 'rj.alert.title' | trans }}: </span>
        {% for key, message in alertMessages %}
            {{ key }}) {{ message }}
        {% endfor %}
    </div>
{% endif %}

