parameters:
    experian.net_connect.class: CreditJeeves\ExperianBundle\NetConnect
    experian.net_connect.credit_profile.class: CreditJeeves\ExperianBundle\NetConnect\CreditProfile
    experian.net_connect.precise_id.class: CreditJeeves\ExperianBundle\NetConnect\PreciseID

services:
    experian.net_connect:
        abstract:  true
        class: "%experian.net_connect.class%"
        arguments:
            - "@doctrine.orm.default_entity_manager"
            - "%experian.logging%"
            - "%server_name%"
            - "%kernel.logs_dir%"
            - "%web.upload.dir%"
    experian.net_connect.credit_profile:
        parent: experian.net_connect
        class: "%experian.net_connect.credit_profile.class%"
        calls:
            - [setConfigs, ["%net_connect.credit_profile.url%", "%net_connect.credit_profile.dbhost%", "%net_connect.credit_profile.sub_code%", "%net_connect.credit_profile.d2c.sub_code%"]]
    experian.net_connect.precise_id:
        parent: experian.net_connect
        class: "%experian.net_connect.precise_id.class%"
        calls:
            - [setConfigs, ["%net_connect.precise_id.url%", "%net_connect.precise_id.dbhost%", "%net_connect.precise_id.sub_code%"]]
