{% include 'ComponentBundle:TradelinesHistory:legend.html.twig' only %}

{% if aNegativeTradelines | length > 0 %}
<div class="pod-large pod-border pod-padding shadow">
    <h3>{{ 'tradelines.history.negative' |trans }}</h3>
    {% for aTradeline in aNegativeTradelines %}
        {% include 'ComponentBundle:TradelinesHistory:tradelineRow.html.twig' 
            with {
                'aTradeline': aTradeline,
                'isNegative': true,
                'aMonthes': aMonthes
                }
        %}
    {% endfor %}
    <div class="clearboth"></div>
</div>
{% endif %}

{% if aSatisfactoryTradelines | length > 0 %}
<div class="row-20"></div>
<div class="pod-large pod-border pod-padding shadow">
    <h3>{{ 'tradelines.history.satisfactory' | trans }}</h3>
    {% for aTradeline in aSatisfactoryTradelines %}
        {% include 'ComponentBundle:TradelinesHistory:tradelineRow.html.twig' 
            with {
                'aTradeline': aTradeline,
                'isNegative': false,
                'aMonthes': aMonthes
                }
        %}
    {% endfor %}
    <div class="clearboth"></div>
</div>
{% endif %}

{% if aIndefiniteTradelines | length > 0 %}
<div class="row-20"></div>
<div class="pod-large pod-border pod-padding shadow">
    <h3>{{ 'tradelines.history.indefinite' | trans }}</h3>
    {% for aTradeline in aIndefiniteTradelines %}
        {% include 'ComponentBundle:TradelinesHistory:tradelineRow.html.twig' 
            with {
                'aTradeline': aTradeline,
                'isNegative': false,
                'aMonthes': aMonthes
                }
        %}
    {% endfor %}
    <div class="clearboth"></div>
</div>
{% endif %}

{% if aClosedTradelines | length > 0 %}
<div class="row-20"></div>
<div class="pod-large pod-border pod-padding shadow">
    <h3>{{ 'tradelines.history.closed' |trans }}</h3>
    {% for aTradeline in aClosedTradelines %}
        {% include 'ComponentBundle:TradelinesHistory:tradelineRow.html.twig' 
            with {
                'aTradeline': aTradeline,
                'isNegative': false,
                'aMonthes': aMonthes
                }
        %}
    {% endfor %}
    <div class="clearboth"></div>
</div>
{% endif %}
