<!-- Tradelines legend -->
<div class="tradeline-legend" id="tradeline-legend">
  <div class="tradeline-history-block">
    <div class="tradeline-history-empty-month status-0">OK</div>
    <div class="tradeline-history-text">-&nbsp;Current with zero balance - Update recieved</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-1">30</div>
    <div class="tradeline-history-text">-&nbsp;30 day delinquent</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-2">60</div>
    <div class="tradeline-history-text">-&nbsp;60 day delinquent</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-3">90</div>
    <div class="tradeline-history-text">-&nbsp;90 day delinquent</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-4">120</div>
    <div class="tradeline-history-text">-&nbsp;120 day delinquent</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-5">150</div>
    <div class="tradeline-history-text">-&nbsp;150 day delinquent</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-6">180</div>
    <div class="tradeline-history-text">-&nbsp;180 day delinquent</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-7">BR</div>
    <div class="tradeline-history-text">-&nbsp;Bankruptcy Chapter 13 Petitioned, or Discharged and Bankruptcy Chapter 13 Reaffirmation of Debt Rescined</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-8">FC</div>
    <div class="tradeline-history-text">-&nbsp;Foreclosure Proceedings Started, Deed in Lieu</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-9">DR</div>
    <div class="tradeline-history-text">-&nbsp;Settled, Insurance Claim, Term Default, Government Claim, Paid by Dealer, BK Chapter 7, 11 or 12 Petitioned, or Discharged and BK Chapter 7, 11 or 12 Reaffirmation of Debt Rescinded</div>
    <div class="clear"></div>
  </div>
  <div class="tradeline-history-block">
    <div class="tradeline-history-empty-month status-B">NA</div>
    <div class="tradeline-history-text">-&nbsp;Account Condition Changed - Payment Code Not Applicable</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-C">OK</div>
    <div class="tradeline-history-text">-&nbsp;Current</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-G">CL</div>
    <div class="tradeline-history-text">-&nbsp;Collection</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-H">FC</div>
    <div class="tradeline-history-text">-&nbsp;Foreclosure</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-J">VS</div>
    <div class="tradeline-history-text">-&nbsp;Voluntary Surrender</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-K">RS</div>
    <div class="tradeline-history-text">-&nbsp;Repossession</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-L">CO</div>
    <div class="tradeline-history-text">-&nbsp;Charge Off</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status-N">0</div>
    <div class="tradeline-history-text">-&nbsp;Current with zero balance - no update received</div>
    <div class="clear"></div>
    <div class="tradeline-history-empty-month status--">?</div>
    <div class="tradeline-history-text">-&nbsp;No update recieved</div>
    <div class="clear"></div>
  </div>
</div>
<!-- End Tradelines legend -->