{% extends application == 'rj' 
    ? "CoreBundle::rj_base.html.twig" 
    : "CoreBundle::base.html.twig" %}

{% block title '404 Error' %}

{% block content %}

    <div class="column-large">
        <h1>404 Error</h1>
    </div>
    <div class="clearboth"></div>
{% endblock %}

