{% block stylesheets %}
    <link href="{{ asset('bundles/applicant/css/simulation.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

<div class="pod-large pod-border pod-padding shadow">
    ****
</div>

