<?php

namespace RentJeeves\ImportBundle\PropertyImport\Transformer\Custom;

use RentJeeves\DataBundle\Entity\Import;

class ChildExampleCustomTransformer extends ExampleCustomTransformer
{
    /**
     * {@inheritdoc}
     */
    public function transformData(array $accountingSystemData, Import $import)
    {
        throw new \LogicException('This class only for test');
    }
}
