/web/*
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/app/config/secrets/transunion
/data/files/sql/*
/build/
/vendor/
/data/installation
/composer.phar
/.*
/phpunit.xml
/bin/php-cs-fixer
phpunit*.phar


