/web/*_dev.php
/web/*_test.php
/web/test.php
/web/bundles/
/web/uploads/*
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/build/
/vendor/
/composer.phar
/.*
/phpunit.xml
