<div class="top-nav">
  <ul>
    <li class="active">
      <a href="{{ path('fos_user_security_logout') }}">
        <span class="tab-corner"></span>
        Action Plan            
      </a>
    </li>
    <li>
      <a href="{{ path('fos_user_security_logout') }}">
        <span class="tab-corner"></span>
        Credit Summary
      </a>
    </li>
    <li>
      <a href="{{ path('fos_user_security_logout') }}">
        <span class="tab-corner"></span>
        My Account
      </a>
    </li>
  </ul>
</div>
