{% extends "::base.html.twig" %}

{% block title 'common.messages' | trans %}

{% block info %}
{% endblock %}

{% block content %}
    <div class="column-large">
        <h1>{{ 'user.email.verify' | trans }}</h1>
        <p>{{ 'user.email.check' | trans | replace({'%EMAIL%': email})}}</p>
        <p>{{ 'user.email.see' | trans }}</p>
        <form method="post">
            <input class="button green small" type="submit" name="_submit" value="{{ 'user.email.again' | trans }}" />
        </form>
    </div>
    <div class="clearboth"></div>
{% endblock %}

