<p class="user-email">{{ sEmail }} </p>
{% if isAdmin %}
    <a href="{{ path('public_back_to_admin') }}">{{ 'back.to.admin' | trans }}</a>
{% else %}
    {% include '::userLogout.html.twig' %}
{% endif %}
<div id="dealer-select" class="dealer-name">{{ sGroup }}</div>
