<div class="content">
    <div class='footer-info floatleft'>
        <strong>{{ 'rj.footer.title' | trans }}</strong>
        <div class='copyright'>&copy;{{ 'rj.footer.copyright' | trans | replace({'%nYear%': 2013}) }}
        </div>
    </div>
    <div class='clearboth'></div>
</div>
<div class='clearboth'></div>

