<!-- ko if: contract -->
<form {{ form_enctype(payAnythingPaymentType) }} novalidate method="post">
    {{ form_widget(payAnythingPaymentType) }}
    {{ JSFV(payAnythingPaymentType) }}
</form>
<!-- /ko -->
