
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ 'project_name'|trans }}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        {#
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
#}


        {% javascripts
        '@CoreBundle/Resources/public/js/jquery-1.9.1.min.js'
        '@CoreBundle/Resources/public/js/jquery.placeholder.min.js'
        '@CoreBundle/Resources/public/js/jquery.linkselect.min.js'
        '@CoreBundle/Resources/public/js/jquery.ssn.js'
        '@CoreBundle/Resources/public/js/jquery.overlay.js'
        '@CoreBundle/Resources/public/js/jquery.overlay-ext.js'
        '@CoreBundle/Resources/public/js/zebra.js'
        '@CoreBundle/Resources/public/js/lightbox.js'
        '@CoreBundle/Resources/public/js/ReLoader.js'
        '@CoreBundle/Resources/public/js/knockout-2.3.0.js'
        '@CoreBundle/Resources/public/js/knockout.mapping-latest.js'
        '@CoreBundle/Resources/public/js/knockout.handlers.js'
        '@CoreBundle/Resources/public/js/knockout.helpers.js'
        '@CoreBundle/Resources/public/js/knockout.datepicker.js'
        '@CoreBundle/Resources/public/js/knockout.dialog.js'
        '@CoreBundle/Resources/public/js/common.js'
        '@CoreBundle/Resources/public/js/date.js'
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
        '@CoreBundle/Resources/public/js/jquery.cookie.js'
        '@CoreBundle/Resources/public/js/session.js'
        '@CoreBundle/Resources/public/js/Format.js'
        'bundles/bazingajstranslation/js/translator.min.js'
        %}
        {#
        <script type="text/javascript" src="{{ asset_url }}"></script>
        #}
        {% endjavascripts %}
        {% block google_analytics %}
            {% if application == 'rj' %}
                {% include 'RjCoreBundle::google_analytics.html.twig' %}
            {% else %}
                {% include 'CoreBundle::google_analytics.html.twig' %}
            {% endif %}
        {% endblock %}
        {% block head_javascripts %}{% endblock %}

        {% block stylesheets %}{% endblock %}

        
    </head>

<body>
<!--
      {% block alert %}{% endblock %}
      //-->

          {%block content %}{% endblock %}


<!--
    <div data-role="footer">
    {% block footer %}{% endblock %}
    </div>
//-->
</body>
</html>
