{% trans_default_domain 'checkout' %}
<div class="pod-small pod-border pod-padding shadow checkout-buy-box" id="checkout_buy_box">
    <h3>{{ 'scoretrack-box-title' | trans }}</h3>
    <p>
        {{ 'scoretrack-box-message' | trans }}
    </p>

    <a href="#" class="button small blue narrow show-scoretrack-pricing-popup">{{ 'scoretrack-buy-link' | trans }}</a>

    <div class="note-text biggerbold">
        {{ 'scoretrack-box-note' | trans }}
    </div>
</div>

