{% extends "LandlordBundle::base.html.twig" %}

{% block content %}

            <div id="panel">
              <input id="property-search" type="text" size="50">
              <input type="button" value="Add Property" id="property-add">
            </div>
            <div id="map-canvas" class="google-maps-address"></div>
    
    
    
    
    
    
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/google-maps-address.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/component/js/groups.js') }}"></script>
{% endblock %}