.site-logo {
    background-image: url("/bundles/rjpublic/images/logo_rj.png");
    float: left;
    height: 61px;
    width: 200px;
    background-repeat: no-repeat;
}

.user-logout {
    font-size: 12px;
}
.info-block {
    margin-right: 10px;
}