<div class="pod-small pod-border pod-padding shadow">
    <h3>Learn More</h3>
    <div class='link-row'>
    <span class='double-arrow'>&raquo;</span>
    <a href="http://help.renttrack.com/knowledgebase/articles/493804" target="_blank">Understanding your Credit Score</a>
    <div class='clearboth'></div>
  </div>
  <div class='link-row'>
    <span class='double-arrow'>&raquo;</span>
    <a href="http://help.renttrack.com/knowledgebase/articles/493808" target="_blank">Different Credit Score Models</a>
    <div class='clearboth'></div>
  </div>
  <div class='link-row bottom'>
    <span class='double-arrow'>&raquo;</span>
    <a href="http://help.renttrack.com/knowledgebase/articles/258767" target="_blank">How Rent Payments affect your Credit Score</a>
    <div class='clearboth'></div>
  </div>
</div>

