{% block stylesheets %}
    <link href="{{ asset('bundles/applicant/css/car.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

<div class="pod-small pod-border shadow">
    <h3>Your Dream Car</h3>
    {{ nTargetScore }}
</div>

