<div class="pod-large pod-border pod-padding shadow">
    <div class="summary">
        <h3>{{ 'common.rights' | trans }}</h3>
        <div class="component-rights">
            {% autoescape false %}{{ sRights }}{% endautoescape %}
        </div>
    </div>
    <div class="clearboth"></div>
</div>
