{% if pad is not defined %}
    {% set pad = false %}
{% endif %}

{% if pad %}
<a id="bbblink" class="sehzbus" href="http://www.bbb.org/minnesota/business-reviews/payment-processing-service/renttrack-in-saint-louis-park-mn-96550948#bbbseal" title="RentTrack, LLC, Payment Processing Service, Saint Louis Park, MN" style="width: 100px; height: 72px; margin: 0px; padding: 0px;">
    <img style="padding: 0px; border: none;" id="bbblinkimg" src="{{ asset('bundles/core/images/ab-seal-horizontal-largex72.png') }}" width="93" height="72" alt="RentTrack, LLC, Payment Processing Service, Saint Louis Park, MN">
</a>
{% else %}
<a id="bbblink" class="sehzbus" href="http://www.bbb.org/minnesota/business-reviews/payment-processing-service/renttrack-in-saint-louis-park-mn-96550948#bbbseal" title="RentTrack, LLC, Payment Processing Service, Saint Louis Park, MN" style="width: 100px; height: 72px; margin: 0px; padding: 0px;position: relative;left: 2px;top: -36px;">
    <img style="padding: 0px; border: none;" id="bbblinkimg" src="{{ asset('bundles/core/images/ab-seal-horizontal-large.png') }}" width="93" height="38" alt="RentTrack, LLC, Payment Processing Service, Saint Louis Park, MN">
</a>
{% endif %}


