{% extends "::base.mobile.html.twig" %}

{% block content %}
    <div>
        from mobile layout --
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}