{% extends "::base.html.twig" %}

{% block title 'common.messages' | trans %}

{% block info %}
{% endblock %}

{% block content %}
    <div class="column-large">
    ****************
    </div>
    <div class="clearboth"></div>
{% endblock %}

