<div class="pod-large pod-border pod-padding shadow">
    <h1>Payment reporting</h1>
    <br />
    <div class="infoBlock">
        <div class="text">
            <h3>See Your Payment Reporting</h3>
            <br />
            <p>
                You'll be able to see your your credit score once
                you've set up your first rent payment and verified 
                your identity. Than track your progress by allowing
                RentJeeves to send activity reports to Experian. You first
                need  to allow RentJeeves to report activity on your behalf
                - you can stop reporting in any time. Copy TBD. 
            </p>
            <br />
            <center>
                <button class="button small{% if status == false %} greyButton {% endif %}">
                    <span>Set Up Your for Bureau Reporting</span>
                </button>
            </center>
        </div>
        <div class="img">
            <img src="/bundles/rjpublic/images/info-block.png" />
        </div>
        <div class="clearfix"></div>
    </div>
</div>
