{% extends "ApplicantBundle::base.html.twig" %}

{% block info %}
<p class="user-email">{{ sEmail }} </p>
<div class="user-logout">
    <a href="{{ path('fos_user_security_logout') }}">» Log out </a>&nbsp;|&nbsp;
    <a href="{{ path('fos_user_security_logout') }}">» Help </a>
</div>
{% endblock %}

{% block content %}
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow">
            <h2>Account Settings</h2>
            {{ knp_menu_render('ApplicantBundle:Builder:settingsMenu', { 'template': 'ApplicantBundle:Menu:applicant_settings.html.twig' }) }}
        </div>
    </div>
    <div class="column-middle floatright">
        <div class="pod-middle pod-border pod-padding shadow">
            <h1>Email Preferences</h1>
            <select class="cj-select">
                <option></option>
            </select>
        </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}
