{% extends "ApplicantBundle::base.html.twig" %}

{% block content %}
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow">
            <h2>Account Settings</h2><br>
            <a href="{{ path('applicant_password') }}">Change Password</a><br>
            <a href="{{ path('applicant_contact') }}">Contact Information</a><br>
            <a href="{{ path('applicant_email') }}">Email Preferences</a><br>
            <span>Remove Authorization</span>
        </div>
    </div>
    <div class="column-middle floatright">
        <div class="pod-middle pod-border pod-padding shadow">
            <h1>Remove Authorization</h1>
        </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}
