    <div id="units-block" class="units-wrapper" style="visibility: hidden;" data-bind="style: { visibility: show() ? 'visible' : 'hidden' }">
        <div class="units-background"></div>
        <div  class="units-block border">
            <h2 data-bind="text: name"></h2>
            <div class="units-header">
                <div class="floatleft units-total">
                    <span>Total Units:</span><span data-bind="text: total"></span>
                </div>
                <div class="floatright units-add">
                    <div class="btn green floatright unit-add-btn" data-bind="click: addUnits">Add</div>
                    <div class="floatright"><input type="text" class="unit-input" data-bind="value: add"></div>
                    <div class="floatright unit-add-text">Add Units:</div>
                </div>
            </div>
            <div class="clearboth"></div>
            <div class="row-20"></div>
            <div class="units-edit">
                <!-- ko foreach: { data: aUnits() } -->
                    <div class="units-item">
                        <input type="text" class="unit-input floatleft" data-bind="value: name" placeholder="Unit No">
                        <div class="btn red floatleft unit-delete" data-bind="click: $root.removeUnit">x</div>
                    </div>
                <!-- /ko -->
            </div>
            <div class="clearboth"></div>
            <div class="units-footer">
                <div class="btn orange floatleft" data-bind="click: saveUnits">Save Changes</div>
                <div class="btn sky floatleft" data-bind="click: clearUnits">Cancel</div>
                <div class="btn red floatleft" data-bind="click: deleteProperty">Delete Property</div>
            </div>
        </div>
    </div>

    <div id="searchContent" class="containerSearch">
        <div class="filterBy">
            <label>Search By</label>
            <select id="searchFilterSelect" class="linkselect">
                    <option value="street">-Select One-</option>
                    <option value="street">Address</option>
                    <option value="city">City</option>
                    <option value="zip">Zip</option>
                    <option value="area">State</option>
                    <option value="country">Country</option>
            </select>
        </div>
        <div class="searchBy">
            <input type="text" data-bind="value: searchText" id="search">
            <a href="#" id="delete" data-bind="click: clearSearch, style: { visibility: isSearch() ? 'visible': 'hidden' }" class="pie-el" style="display: inline;">x</a>
            <a href="#" id="searchButton" data-bind="click: searchFunction">
                <img src="/bundles/rjpublic/images/icon-search-white-bg.png">
            </a>
        </div>
    </div>

    <div id="properties-block" class="properties-block">
        <div class="">
            <div class="units-total floatleft"><h2 data-bind="text: 'All (' + $root.total() + ')'"></h2></div>
            <a class="button small property-button-add" href="{{ path('landlord_property_new')}}">
                <span>
                    New Property
                </span>
            </a>
        </div>
        <div class="clearboth"></div>
        <!-- ko if: pages().length -->
        <div class="row-20"></div>
        <div class="">
            <!-- ko foreach: pages() -->
                <!-- ko if: $data == $root.current() -->
                <div class="button small grey floatleft" ><span data-bind="click: $root.goToPage, text: $data"></span></div>
                <!-- /ko -->
                <!-- ko ifnot: $data == $root.current() -->
                <div class="button small floatleft" ><span data-bind="click: $root.goToPage, text: $data"></span></div>
                <!-- /ko -->
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <div class="clearboth"></div>
        <div class="properties-table-block">
            <img src="/bundles/core/images/img_loading.gif" class="processLoading" data-bind="style: { visibility: processProperty() ? 'visible' : 'hidden' }">
            <!-- ko if: countProperties() -->
            <table class="properties-table zebra-grid" cellspacing="0">
                <thead>
                <tr data-bind="click: sortFunction" class="properties-th">
                    <th>Address</th>
                    <th id='zip' class="sortField">
                        ZIP
                        <img src="/bundles/rjpublic/images/sort_down.png" class="sortDown sort">
                        <img src="/bundles/rjpublic/images/sort_up.png" class="sortUp sort">
                    </th>
                    <th id='city' class="sortField">
                        City
                        <img src="/bundles/rjpublic/images/sort_down.png" class="sortDown sort">
                        <img src="/bundles/rjpublic/images/sort_up.png" class="sortUp sort">
                    </th>
                    <th id='area' class="sortField">
                        State
                        <img src="/bundles/rjpublic/images/sort_down.png" class="sortDown sort">
                        <img src="/bundles/rjpublic/images/sort_up.png" class="sortUp sort">
                    </th>
                    <th id='country' class="sortField">
                        Country
                        <img src="/bundles/rjpublic/images/sort_down.png" class="sortDown sort">
                        <img src="/bundles/rjpublic/images/sort_up.png" class="sortUp sort">
                    </th>
                    <th>Units</th>
                    <th></th>
                </tr>
                </thead>
                <tbody data-bind="style: { visibility: processProperty() ? 'hidden' : 'visible'  }">
                <!-- ko foreach: { data: aProperties() } -->
                <tr>
                    <td data-bind="text: address"></td>
                    <td data-bind="text: zip"></td>
                    <td data-bind="text: city"></td>
                    <td data-bind="text: area"></td>
                    <td data-bind="text: country"></td>
                    <td data-bind="text: units"></td>
                    <td>
                        <div class="property-edit" data-bind="click: $root.editUnits">
                            <img src="/bundles/rjpublic/images/icon-edit-white-bg.png">
                        </div>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <!-- /ko -->
        </div>
        <div class="clearboth"></div>
    </div>
