<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{# @TODO move style to css file #}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body style="
             background-color: #FAFAFA;
             padding: 20px;
        ">
        <div style="
                width: 600px;
                margin: 0 auto;
                font-family: 'Helvetica Neue', helveticaneue, helvetica-neue, Helvetica, Arial, sans-serif;
                font-size: 14px;
                color: #000000;
                ">
            {% include "RjComponentBundle:Mailer:header.html.twig" %}
            {% block body %}{% endblock %}
            {% include "RjComponentBundle:Mailer:footer.html.twig"  %}
        </div>
    </body>
</html>
