#checkboxterms {
    margin-left: 20px;
}
#checkboxterms .big {
    height: 20px;
    width: 400px;
}

.box.type1 .form-row a { 
    clear: both;
    white-space:normal;
    margin: 0;
    float: none;
}
