#checkboxterms {
    margin-left: 20px;
}
#checkboxterms .big {
    height: 20px;
    width: 195px;
}
#checkboxterms .big>a {
    margin-top: -17px;
}
.box.type1 .form-row a { 
    float: right;
}
.haveAccount {
    font-size: 14px;
    margin-left: 20px;
    font-weight: bold;
}