{% extends "RjPublicBundle::base.html.twig" %}

{% block content %}
<div class="form-content">
  <br />
  <br />
  <h3 class="title">Email Verified</h3>
  <div class="box type1" style="padding-top: 0px;">
    <div class="col-box clearfix">
      <div class="col">
        <h4>Thanks for verifying your email. A small step to make sure<br />
          we keep everything secure here at RentTrack.
        </h4>
        <h4>You may now login.</h4>
      </div>
    </div>
  </div>
  <div class="buttons-box clearfix">
    <div class="buttons left">
      <a href="{{ signinUrl }}" class="button"><span>Login</span></a>
    </div>
  </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}