{% extends "RjPublicBundle::base_iframe.html.twig" %}

{% block content %}
<div class="form-box">
        <div class="mainform-box">
            <div class="mainform">
              <h1>Pay Rent. Build Credit.</h1>
              <h4>Get your Free Credit Score and Free Electronic Payments</h4>
              <form action="#" id="formSearch">
                <div class="clearfix">
                  <div class="field-box">
                    <input id="property-search" type="text" placeholder="Your Rental Address">
                    <span class="icon-find">&nbsp;</span>
                  </div>
                  <button type="submit"  id="property-add" class="button">
                    <span>Find My Rental</span>
                  </button>
                </div>
              </form>
              <div class="property-rent-box">
                <div class="property-rent">
                  <i> </i>
                  <p>Have a property to rent?</p>
                  <a href="#">Find out how Rent Jeeves can help you.</a>
                </div>
              </div>
            </div>
        </div>
</div>
<div id="map-canvas" style="display:none;"></div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@RjPublicBundle/Resources/public/js/public.index.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@RjPublicBundle/Resources/public/css/public.index.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}