{% extends "RjPublicBundle::base.html.twig" %}

{% block content %}
    <h2>It's page with result search</h2>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}