.form-login {
  padding: 20px;
  width: 570px;
  /*margin: 0 auto;*/
  margin-left: 100px;
  border: none;
  padding: 20px 10px 20px 20px;
  margin-top: 20px;
}

.form-table {
  margin-top: 20px;
  margin-left: 45px;
}

#login_form table td {
  padding: 10px;
}

.login-label {
  float: right;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.checkbox-label {
  font-weight: normal;
  font-size: 18px;
  color: #333;
  margin-top: -20px;
  margin-left: 26px;
  font-family: "Helvetica Nue", HelveticaNue, helvetica-nue, Helvetica, Arial;
}

.login-input {
  font-size: 20px;
  border: 1px solid #999999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 0px 1px 1px #d7d7d7;
  -moz-box-shadow: inset 0px 0px 1px 1px #d7d7d7;
  box-shadow: inset 0px 0px 1px 1px #d7d7d7;
  padding: 3px 10px;
  width: 350px !important;
}

.login-error {
  color: #aa0000;
  font-size: 20px;
}

.login-pod-footer {
    text-align: center;
    font-size: 18px;
    width: 541px;
    margin: 10px 0 0 150px;
}

.business-logins {
    margin-left: 40px;
    margin-top: 85px;
}

.create-block-logins a, .business-logins a {
    font-size: 18px;
}

.create-block-logins {
    margin-left: 40px;
    margin-top: 120px;
}

.form-login.login-block {
    margin-left: 20px;
}

.form-login.login-block input {
    width: 400px !important;
}

.form-content input.half-width {
    width: 135px;
}