.user-input {
    font-size: 20px;
    border: 1px solid #999999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 1px 1px #d7d7d7;
    -moz-box-shadow: inset 0px 0px 1px 1px #d7d7d7;
    box-shadow: inset 0px 0px 1px 1px #d7d7d7;
    padding: 3px 10px;
}

.user-item {
    float: left;
    margin-right: 10px;
}

.user-name {
   width: 133px;
}

.user-initial {
    width: 25px;
}

.user-email-address {
    width: 352px;
}

.user-margin {
    margin-bottom: 10px;
    margin-right: 2px;
}

.user-ssn1 {
    width: 55px;
}

.user-ssn2 {
    width: 35px;
}

.user-ssn3 {
    width: 70px;
}

.user-address {
     width: 240px;
}

.user-unit {
    width: 75px;
}

.user-city {
    width: 150px;
    margin-right: 5px;
}

.user-tos {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.user-phone {
    width: 220px;
}

/* additional style */
.hidden {
    display: none;
}