<div class='pod pod-full take-action-pod last' id="simulation-container">
    <h3> {{ 'title' | trans({}, 'simulation')  }}</h3>
    <div class="action-summary green-bg-stripe">
        <div class="rescore-container ko-block-invisible">
            <form action="" class="simulation-form">
                <div class="errors">
                    <?php echo $form['best_use_of_cash']->renderError();?>
                </div>
                <label for="" class="rescore-label">
                    {{ 'simulator_best_use_of_cash_label' | trans({}, 'simulation')  }}
                </label>
                <input type="text" class="money" />
                <button type="submit" class='button narrow green reload'>
                    {{ 're-score' | trans({}, 'simulation')  }}
                </button>
            </form>
        </div>

        <div class="score-area">
            <div class="details"
                 style="visibility: hidden;"
                 data-bind="style: { visibility: getAllBlocks().length ? 'visible' : 'hidden' }">
                <span class="arrow-up-icon"></span>
                <span class="score" data-bind="text: getScoreBest"></span>
                <div class="estimated-fico" data-bind=" visible: !isDealerSide ">
                    {{ 'common.estimated.fico' | trans }}
                    <span data-bind="text: getFico()"></span>
                </div>
            </div>
            <div class="comments">
                <strong id="steps-title" data-bind="html: getTitle"></strong>
                <div id="steps-message" class="green" data-bind="html: getTitleMessage"></div>
            </div>
        </div>
    </div>
    <div class="action-steps ko-block-invisible">
        <!-- ko if: getAllBlocks().length -->
        <ul class="zebra-stripe">
            <!-- ko foreach: { data: getAllBlocks() } -->
            <li>
                <div class="step-box box">
                    <strong class="biggerbold" data-bind="i18n: { _catalogue: 'simulation', STEP: $index() + 1 }">
                        step-%STEP%
                    </strong>
                    <div>
                        <!-- ko if: 10 == model.simulation.getSimTypeGroup() -->
                        <?php echo __('group-10x', array(), 'simulation');?>
                        <!-- /ko -->
                        <!-- ko if: 20 == model.simulation.getSimTypeGroup() -->
                        <?php echo __('group-20x', array(), 'simulation');?>
                        <!-- /ko -->
                        <!-- ko if: 30 == model.simulation.getSimTypeGroup() -->
                        <?php echo __('group-30x', array(), 'simulation');?>
                        <!-- /ko -->
                        <!-- ko if: 40 == model.simulation.getSimTypeGroup() -->
                        <?php echo __('group-40x', array(), 'simulation');?>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="action-text-box box">
                    <!-- ko if: 10 == model.simulation.getSimTypeGroup() -->
                    <div data-bind="i18n: {
                                _catalogue: 'simulation',
                                BANK: tr_subname,
                                ACCOUNT: tr_acctnum,
                                CASH_DIFF: arf_balance - tr_balance,
                                BALANCE: tr_balance
                               }"
                         class="action-text">
                        10x-message-%BANK%-%ACCOUNT%-%CASH_DIFF%-%BALANCE%
                    </div>
                    <div class="green">
                        <?php echo image_tag('green-arrow.png', array('alt' => 'green arrow'));?>
                <span data-bind="i18n: {
                                  _catalogue: 'simulation',
                                  BANK: tr_subname,
                                  BANK_PHONE: subscriber_phone_number
                                }">
                  10x-sub-message-%BANK%-%BANK_PHONE%
                </span>
                        <?php echo $payDownLink;?>.
                    </div>
                    <!-- /ko -->
                    <!-- ko if: 200 == model.simulation.sim_type() -->
                    <div class="action-text" data-bind="i18n: { _catalogue: 'simulation', AMOUNT1: tr_amount1 }">
                        20x-message-%AMOUNT1%
                    </div>
                    <div class="green">
                        <?php echo image_tag('green-arrow.png', array('alt' => 'green arrow'));?>
                <span data-bind="i18n: { _catalogue: 'simulation' }">
                  20x-sub-message
                </span>
                        <?php echo $applyNowLink . " " . $utilizationLink;?>.
                    </div>
                    <!-- /ko -->


                    <!-- ko if: $data.banks -->
                    <!-- ko if: 300 == model.simulation.sim_type() -->
                    <div class="action-text" data-bind="i18n: { _catalogue: 'simulation', BALANCE: tr_balance }">
                        30x-message-%BALANCE%
                    </div>
                    <div class='green'>
                  <span data-bind="i18n: { _catalogue: 'simulation', BANKS: banks }">
                    30x-sub-message-%BANKS%
                  </span>
                        <?php echo $applyNowLink . " " . $consolidateCCLink;?>.
                    </div>
                    <!-- /ko -->
                    <!-- ko if: 400 == model.simulation.sim_type() -->
                    <div class="action-text" data-bind="i18n: { _catalogue: 'simulation', BALANCE: tr_balance }">
                        40x-message-%BALANCE%
                    </div>
                    <div class='green'>
                  <span data-bind="i18n: { _catalogue: 'simulation', BANKS: banks }">
                    40x-sub-message-%BANKS%
                  </span>
                        <?php echo $consolidateHomeEquityLink;?>.
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko ifnot: $data.banks -->
                        <!-- ko if: 300 == model.simulation.sim_type() -->
                            <div class="action-text" data-bind="i18n: { _catalogue: 'simulation', BALANCE: tr_balance }">
                                30x-message-%BALANCE%
                            </div>
                            <div class='green'>
                          <span data-bind="i18n: { _catalogue: 'simulation' }">
                          </span>
                                <?php echo $applyNowLink . " " . $consolidateCCLink;?>.
                            </div>
                            <!-- /ko -->
                            <!-- ko if: 400 == model.simulation.sim_type() -->
                            <div class="action-text" data-bind="i18n: { _catalogue: 'simulation', BALANCE: tr_balance }">
                                40x-message-%BALANCE%
                            </div>
                            <div class='green'>
                          <span data-bind="i18n: { _catalogue: 'simulation' }">
                          </span>
                                <?php echo $consolidateHomeEquityLink;?>.
                            </div>
                        <!-- /ko -->
                    <!-- /ko -->
                </div>
            </li>
            <!-- /ko -->
        </ul>
        <!-- /ko -->
    </div>
    <div class="clear"></div>
</div>
