{% if admin.isGranted('EDIT', object)%}
    <br />
    <a href="{{ path('admin_creditjeeves_data_order_list', { "user_id": object.id }) }}"
       class="btn order_link btn-small"
       title="{{ 'admin.action.orders'|trans({}) }}">
        <i class="icon-order"></i>
        {{ 'admin.action.orders'|trans({}) }}
    </a>
{% endif %}
