
{% if admin.isGranted('EDIT', object) %}
    <a style="width: 120px;" href="{{ path('admin_tenant_new_report', { "id": object.id }) }}" class="btn edit_link getNewReport" title="{{ 'action_report'|trans({}) }}">
        <i class="icon-report"></i>
        {{ 'get.new.report'|trans({}) }}
    </a>
{% endif %}
