{% if admin.hasRoute('admin_job_list')%}
    <a href="{{ path('admin_job_list', { "id": object.id }) }}" class="btn">
        <i class="icon-list"></i>
        {{ 'Jobs'|trans({}) }}

    </a>
{% endif %}
