{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% if admin.isGranted('RUN', object)%}
    <a href="{{ path('admin_rentjeeves_data_payment_run', { "id": object.id }) }}" class="btn order_link">
        <i class="icon-order"></i>
        {{ 'Run'|trans({}) }}
    </a>
{% endif %}
