.account-status-title {
    padding-bottom: 10px;
    color: #333333;
    font-family: "helvetica neue",helveticaneue,helvetica-neue,helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 135%;
}

.bigbold {
    margin-right: 20px;
}