.action-steps li {
  padding: 15px;
  display: block;
  clear: left;
  overflow: hidden;
}

.action-steps .action-text-box .green {
  font-size: 13px;
}

.action-steps .action-text-box {
  width: 520px;
}

.action-steps .action-text {
  color: #666666;
  font-weight: bold;
}

.action-steps .step-box {
  width: 120px;
  padding-right: 10px;
  border-right: 1px solid #ccc;
  margin-right: 20px;
}

.action-steps .box {
  float: left;
}


