.header-smooth {
    background: url("/bundles/component/images/header-smooth-bg-repeat.png") repeat-x scroll left top transparent;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 16px;
    height: 22px;
    padding: 2px 0 2px 11px;
}


.rainbow-chart {
    background: url("/bundles/component/images/rainbow-spectrum.png") no-repeat scroll left bottom transparent;
    height: 80px;
    position: relative;
    width: 266px;
}

.rainbow-chart .score-line {
    background: url("/bundles/component/images/spectrum-score.png") no-repeat scroll left bottom transparent;
    display: block;
    height: 69px;
    padding: 4px 0 0 10px;
    position: absolute;
    right: 30px;
    top: -9px;
    width: 63px;
}

.spaced-text {
    margin-bottom: 20px;
}

.link-row {
    color: #1985EA;
    font-size: 16px;
    margin-bottom: 20px;
}

.link-row a {
    float: right;
    width: 215px;
}

.success-title {
    background: none repeat scroll 0 0 #1985EA;
    border-radius: 7px 7px 0 0;
    color: white;
    border: 2px solid #ffffff;
    padding: 7px 15px;
    font-size: 30px;
    font-family: astoria-medium;
    font-weight: normal;
}

.success-inner {
    margin: 15px 20px;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}

.success-right {
    width: 350px;
    float: right;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333333;
    font-family: "helvetica neue",helveticaneue,helvetica-neue,helvetica,arial,sans-serif;
    font-weight: 300;
    line-height: 135%;
}

.success-left {
    width: 460px;
    float: left;
    margin-bottom: 20px;
}

.success-phone {
    padding: 20px;
    border-right: 1px solid #cccccc;
    font-size: 24px;
    font-weight: 800;
    width: 175px;
}

.success-address {
    width: 220px;
}