.lead-select-button {
    border: 1px solid #C8C8C8;
    bottom: 55px;
    cursor: pointer;
    float: right;
    padding: 5px;
    position: relative;
}

.lead-select-container {
    display: none;
}

.lead-select-lead {
    border: 1px solid #C8C8C8;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
}
