.vertical-rainbow-chart {
    background: url("/bundles/component/images/vertical-rainbow.png") no-repeat scroll right bottom transparent;
    width: 375px;
    height: 181px;
    margin-right: 19px;
}

.score-chart {
    width: 301px;
    height: 171px;
}

.score-column {
    float: left;
    text-align: center;
}

.score-column-target {
    position: absolute;
    margin-left: 600px;
}

.score-current {
    background-color: #6FAF00;
    border: none;
    padding: 0px 10px 20px 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: astoria-medium;
    font-size: 80px;
    height: 65px;
}

.score-date {
    color: #999999;
    font-size: 12px;
    padding-top: 10px;
}
.score-fico {
     color: #999999;
    font-weight: bold;
}

.score-target {
    background: url("/bundles/component/images/line-chart-target-score.png") no-repeat scroll left top transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 58px;
    padding-left: 22px;
    padding-top: 3px;
    position: absolute;
    right: 0;
    top: 51px;
    width: 74px;
}

.score-tenant {
    float: right;
    margin-top: 15px;
    height: 192px;
    width: 375px;
}
.scoreType {
    color: #ff6600;
    font-weight: bold;
    padding-top: 10px;
    font-size: 12px;
}
