.loadingSpinner {
    margin-top: -15px;
    margin-left: -15px;
}

.tos-input-field {
    display: inline !important;
    z-index: 1;
    position: absolute;
    margin-left: -24px;
    margin-top: 3px;
}

.tos-label {
    position: relative;
    z-index: 5
}

.errorsGoogleSearch {
  color: #ff0000;
  position: absolute;
  margin-left: 10px;
}
.accept-terms-box {
    width: 890px;
}
.col .creditcom-logo .search-box {
    background: #eee url(/bundles/rjpublic/images/creditcom.png) right 30px center no-repeat;
    width: 910px;
}
.tos-input-field {
    transform: none !important;
}
label.checkbox a {
    display: block;
    float: none;
    margin-left: 86px;
    margin-top: -18px;
    position: absolute;
}
.single-property-checkbox {
    margin-left: -31px;
}
