#checkboxterms  {
    margin-left: 0px !important;
}
#checkboxterms a {
    display: inline;
    float: none;
    clear: both;
    position: absolute;
    margin-top: -18px;
    margin-left: 86px;
}

.loadingSpinner {
  margin-top: 3px;
}