#checkboxterms  {
    margin-left: 0px !important;
}
#checkboxterms a {
    display: block;
    float: none;
    margin-left: 86px;
    margin-top: -18px;
    position: absolute;
}

.loadingSpinner {
  margin-top: 3px;
}

.errorsGoogleSearch {
    display: block;
    color: red;
    position: absolute;
    margin-top: -15px;
}