.mapContainer {
    padding-top: 5px;
}
#map-canvas {
    width: 883px;
    height: 390px;
    margin-left: 3px;
}
.titleNotFound {
    display: none;
}
.errorsGoogleSearch {
    display: block;
    position: absolute;
    color: red;
    margin-top: 5px;
}
.mainform form {
    padding-bottom: 41px;
}
.property-rent-box {
    margin-top: 0;
}
