{% extends "LandlordBundle::base.html.twig" %}

{% block content %}
    <div class="column-large">
        {{ render(controller('ComponentBundle:PropertiesList:index', {'Group': Group})) }}
    </div>
    <a href="{{ path('landlord_property_new')}}">New Property</a>
{% endblock %}