<div id="lightbox-background" class="lightbox-background"></div>
<div id="lightbox-container" class="lightbox-container pod">
    <div class="lightbox-toolbar">
        <div id="lightbox-close" class="lightbox-close"></div>
    </div>
    <div class="clear"></div>
    <div id="lightbox-content" class="lightbox-content"></div>
</div>