.form-content {
    width: 470px;
    float: left;
}
.form-content .box.type1 {
    padding-top: 0px;
}

.box.type1 .form-row label {
    font-size: 12px;
    line-height: 15px;
    font-family: 'ABeeZee', sans-serif;
}
.error_list {
    clear: both;
}
.error_list>li {
    font-size: 12px;
    font-weight: normal;
}