.fiter-box .linkselect-link-icon {
    background: url(/bundles/rjpublic/images/select.png) no-repeat top left;
    height: 22px;
    width: 19px;
    margin-top: 1px;
}
.fiter-box a {
    width: 135px;
    font-size: 13px;
    height: 23px;
    margin-left: 10px;
}
.processPayment {
    margin-left: 405px;
    margin-top: 50px;
    padding-bottom: 50px;
}
#searchPaymentsStatus_link, #searchSelect {
    margin-left: 0px;
    margin-right: 0px;
}

.amount-paid-label {
    width: 75px;
    padding-top: 5px;
}

.amount-paid-input {
    width: 115px;
}

.amount-paid-input input {
    width: 100%;
}
.column-order-status {
    width: 84px;
}
.column-order-date {
    width: 65px;
}
.column-order-address {
    width: 250px;
}
.column-order-tenant {
    width: 250px;
}
.column-order-amount {
    width: 60px;
}
.column-order-type {
    width: 30px;
}
.resolutionRadio {
    height: 60px;
}
.input-end-contract input {
    width: 98px;
    float: left;
}
.deposit-amount {
    font-weight: bold;
}
.zebra-tr-dark {
    background-color:#f5f5f5;
}
