.fiter-box .linkselect-link-icon {
    background: url(/bundles/rjpublic/images/select.png) no-repeat top left;
    height: 22px;
    width: 19px;
    margin-top: 1px;
}
.fiter-box a {
    width: 135px;
    font-size: 13px;
    height: 23px;
    margin-left: 10px;
}
.processPayment {
    margin-left: 405px;
    margin-top: 50px;
    padding-bottom: 50px;
}
#searchPaymentsStatus_link, #searchSelect {
    margin-left: 0px;
    margin-right: 0px;
}