.formSearch>.search-box{
    height: 35px;
}
.search-box>label{
    width: 190px;
    font-size: 12px;
}
.col.all .search-box {
    width: 535px;
    float: left;
}

#property-search {
    height: 17px;
}
.pod-large {
    border: 1px solid grey;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 17px;
}
#addProperty {
    clear: both;
    margin-top: 25px;
    position: absolute;
    margin-left: 360px;
}
.col.all .search-box .with-button input {
    width: 485px;
}
.units-box {
    float: left;
    width: 350px;
    min-height: 120px;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 12px;
    padding-left: 20px;
}
.clear {
    clear: both;
}
.all>.titlePropety {
    float: left;
    font-weight: bold;
    font-size: 13px;
}
.all>.titlePropetyFirst {
    width: 565px;
}

.units-box label {
    font-size: 12px;
    width: 72px;
    display: block;
    float: left;
} 

.units-box input {
    height: 16px;
    width: 25px;
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 6px;
}
.addUnit {
    float: left;
    margin-left: 60px;
    margin-top: -30px;
}
.unitsList {
    display: block;
    clear: both;
    margin-left: -19px;
}

#delete, #search-result-map {
    display: none;
}

#errorForm{
    color: red;
    margin-top: 29px;
    display: block;
    position: absolute;
}
.loader {
    display: none;
    margin-left: 50px;
}

.nameUnits {
    margin-left: 20px;
    margin-top: 10px;
}

.unitsListNames {
    display: block;
    width: 315px;
    margin-left: 92px;
}