
.widthSelect {
    width: 155px;
}
.begin, .end {
    width: 65px !important;
}
.none {
    display: none;
}

.form-row label {
    clear: both;
}
.form-row {
    width: 200px;
}

#base_order_report_type_begin_row>label{
    clear: none;
    width: 35px;
    margin: 16px 0 0 10px;
}

#base_order_report_type_begin_row>div{
    width: 120px;
}
#base_order_report_type_begin_row {
    padding-left: 25px;
    margin-top: -175px;
}
.submitBaseReport {
    margin-left: 130px;
    clear: both;
    margin-top: 18px;
}
.form-content {
    height: auto;
}
.helpContainer {
    margin-left: 20px;
    margin-top: 28px;
    float: left;
}
.int {
    width: 50px !important;
}

.type-date {
    float: right !important;
    margin-right: 140px;
    margin-top: -175px;
}
label.checkbox {
    padding-left: 0;
    width: 350px;
}
label.checkbox span {
    display: inline;
}
label.checkbox input {
    width: 14px;
    margin-left: 0;
}

#base_order_report_type .type-date {
    margin-top: 0;
    margin-right: 130px;
}

div#base_order_report_type .form-row {
    float: left;
    width: 500px;
}

#base_order_report_type_type_row, #base_order_report_type_begin_row {
    width: 335px !important;
}


form#base_order_report_type button {
    float: left;
}