.properties-table td>input {
    width: 35px !important;
}
.properties-table td {
    word-wrap: break-word;
}
.errorMessage {
    color: red;
}
.properties-table td>input[type="checkbox"] {
    width: 15px !important;
    margin: 0px;
}
.properties-table td>input[type="text"] {
    width: 55px !important;
    margin-top: 5px;
}
.column-middle {
    padding: 2px;
}
.properties-th>.status  {
    width: 38px;
}
.properties-th>.unit {
    width: 48px;
}
.properties-th>.resident {
    width: 55px;
}

.properties-th>.dates{
    width: 95px
}
.datepicker{
    float: left;
    clear: both;
}
.ui-datepicker-trigger {
    float: left;
    margin: 9px 0 0 4px;
}
table tbody tr td {
    padding: 5px;
    text-align: center;
}
.errorField {
    border: 3px solid #ff0000 !important;
}
