.properties-table td>input {
    width: 35px !important;
}
.properties-table td {
    word-wrap: break-word;
}
.errorMessage {
    color: red;
}
.properties-table td>input[type="checkbox"] {
    width: 15px !important;
    margin: 0px;
}
.properties-table td>input[type="text"] {
    margin-top: 5px;
}
