.steps li {
    width: 230px;
}
.steps li>.step>span{
    width: 170px;
}
.column-middle {
    width: 920px;
}
#import_file_type_property_row label {
    clear: both;
}
#import_file_type_attachment {
    width: 280px;
}

.button-box a, .button-box button {
    float: left;
}

.button-box button {
    margin-top: 2px;
}

.button-box {
    height: 33px;
}

.checkbox  {
    margin-left: 20px !important;
    margin-top: 0px !important;
    width:auto !important;
}
.checkbox>span{
    width: auto !important;
}
#import_file_type_propertyId_row {
    margin-top: -40px;
    position: absolute;
}
.fields-box input[type="checkbox"] {
    width: 14px;
}
#import_file_type_onlyException_box {
    margin-left: 72px !important;
}