.sub-menu>ul>li {
    float: left;
    margin-left: 7px;
}
.sub-menu>ul>.last{
    border-left: 1px solid grey;
    padding-left: 5px;
}
.container-content {
    clear: both;
    margin-top: 30px;
}

