.fiter-box .linkselect-link-icon {
    background: url(/bundles/rjpublic/images/select.png) no-repeat top left;
    width: 19px;
    height: 23px;
}
.fiter-box .linkselect-link {
    width: 125px;
    font-size: 14px;
    height: 21px;
    padding-top: 1px;
    padding-left: 0px;
    padding-bottom: 1px;
    line-height: 14px;
}
.fiter-box label {
    margin-right: 10px;
}
.fiter-box .button {
    margin-top: -5px !important;
}
.processLoading {
    position: relative;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}
#delete {
   display: block;
}
.footer-button-box .button {
    padding-left: 0px;
    margin-left: 0px;
}
.addressDiv {
    padding-top: 15px;
    padding-left: 10px;
}

#tenant-merge-contract-popup .fields-box > span, #tenant-edit-property-popup .fields-box > span {
    margin-left: 10px;
    padding-top: 6px;
    display: block;
}
.pie-el>span {
    font-size: 11px !important;
}
.properties-table {
    width : 920px !important;
    table-layout: fixed !important;
}
.properties-table>tbody>tr>td, .tenant-box {
    word-wrap: break-word !important;
}
.properties-table-block {
    display: none;
}
#rentjeeves_landlordbundle_invitetenantcontracttype_contract_rent {
    border: 1px solid #bdbdbd;
    background: #fff;
    padding: 4px 9px 3px;
    margin: 0;
    height: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0px 0px 5px 0px #fff;
    -moz-box-shadow: inset 0px 0px 5px 0px #fff;
    box-shadow: inset 0px 0px 5px 0px #fff;
    background: #fff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 45%, #ffffff 100%);
    background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 45%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#ffffff 45%,#ffffff 100%);
    background: -o-linear-gradient(top, #f3f3f3 0%,#ffffff 45%,#ffffff 100%);
    background: -ms-linear-gradient(top, #f3f3f3 0%,#ffffff 45%,#ffffff 100%);
    background: linear-gradient(to bottom, #f3f3f3 0%,#ffffff 45%,#ffffff 100%);
    -pie-background: linear-gradient(to bottom, #f3f3f3 0%,#ffffff 45%,#ffffff 100%);
    width: 100px;
    margin-left: 10px;
}
.form-row>label, .fields-box>label{
    font-size: 12px !important;
}
#rentjeeves_publicbundle_invitetenanttype_contract_rent {
    margin-left: 10px;
}

#tenant-add-property-popup .linkselect-link-icon {
background: url(/bundles/rjpublic/images/select.png) no-repeat top left;
width: 19px;
height: 23px;
}
#rentjeeves_landlordbundle_invitetenantcontracttype_contract_property_link {
    width: 223px;
    height: 22px;
    padding-top: 1px;
    padding-left: 0px;
    font-size: 12px;
    margin-left: 9px;
}
#rentjeeves_landlordbundle_invitetenantcontracttype_contract_unit_link {
    width: 20px;
    height: 22px;
    padding-top: 1px;
    padding-left: 0px;
    font-size: 12px;
    margin-left: 9px;
}
.error_list {
    margin-left: 10px;
}

.error_list>li {
    font-size: 12px;
}

#userExistMessage, #userExistMessageLanlord, .content-box {
    display: none;
}

#unit-edit {
    margin-top: 7px;
    margin-left: 10px;
}

.column-status {
    width: 85px;
}
.column-name {
    width: 93px;
}

.column-email {
    width: 150px;
}
.column-phone {
    width: 105px;
}
.column-address {
    width: 100px;
}
.column-amount {
    width: 50px;
}
.column-last {
    width: 45px;
}
.column-paid {
    width: 45px;
}
.column-type {
    width: 50px;
}
.column-action {
    width: 50px;
}

.approve.grey {
    background-color: #999999;
}
#contractEditFinish {
    margin-left: 8px;
    margin-top: 0px;
}
.onFinishAt {
    float: left;
}
.fields-box input.datepicker-field, input.datepicker {
    width: 75px;
}
.finishAtLabel {
    margin-left: 35px !important;
    width: 175px !important;
}
.width150 {
  width: 150px !important;
}

td .clarification>.csm-icon {
    background: url(/bundles/rjpublic/images/sprite-icons.png) -300px -300px no-repeat;
    height: 26px;
    margin-right: 2px;
    margin-left: 24px;
    margin-top: -2px;
}
td .clarification>.alert {
    background: url(/bundles/rjpublic/images/sprite-icons.png) no-repeat;
    background-color: #9e0b0f;
    background-position: -120px -240px;
}
td .clarification {
    position: absolute !important;
    margin-left: 60px !important;
    margin-top: -29px !important;
}
.tenantName {
    width: 80px;
}
td .clarification>.one {
    margin-left: 20px;
    margin-top: 10px;
}

.footer-button-box .button {
    height: 39px;
}

.footer-button-box .button span{
    line-height: 20px;
    font-size: 16px;
}
#foundMoreContainer {
    margin-bottom: 15px;
    margin-top: -5px;
}
#foundMoreContainer>span {
    font-size: 13px !important;
}

.toggle {
    margin-left: 10px;
    margin-top: -5px;
    width: 120px;
    height: 35px;
}

.toggle-modern .toggle-off, .toggle-modern .toggle-on {
    font-size: 12px !important;
    text-transform: uppercase;
}

#payment_allowed_help {
    position: absolute;
    top: 14px;
    left: 230px;
    cursor: pointer;
}
.hidden {
    display: none;
}
