<form {{ form_enctype(form) }} method="post" novalidate>
    {{ form_widget(form) }}
    <div class="clear"></div>
    <button class="button fixed next">
        <span>{{ 'next'|trans }}</span>
    </button>
</form>
