.checkout-buy-box {
    background: transparent right bottom no-repeat url(/bundles/checkout/images/only-9-dollars.png);

}

.checkout-buy-box p {
    font-size: 16px;
}

.checkout-buy-box .button {
    margin: 10px 0 10px 0;
}

.checkout-buy-box .note-text {
    text-align: center;
    width: 123px;
}

.checkout.form.authorize .form-row label {
    width: 148px;
    float: left;
    display: block;
    margin-bottom: 10px;
    margin-top: 2px;
}

.checkout.authorize .form-row {
    overflow: hidden;
}

.checkout.authorize .background-grey {
    padding-top: 0;
    padding-bottom: 0;
}
.checkout-plus span {
    background: url("/bundles/rjpublic/images/sprite-icons.png") repeat scroll -200px -50px transparent;
    float: left;
    height: 19px;
    width: 19px;
    margin-top: -2px;
}
.form-row {
    margin-left: 20px;
}

.background-grey {
    margin-left: 0;
}

.background-grey div.form-row {
    margin-left: 0;
}

a.linkselect-link .linkselect-link-text {
    line-height: 20px;
}
div.total-amount {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
.paid-for {
    position: relative;
    z-index: 1;
}
