{% extends "TenantBundle::base.html.twig" %}

{% block content %}
    <div id="rent-menu">
    {{ knp_menu_render('TenantBundle:Builder:rentMenu', { 'template': 'TenantBundle:Sources:menu.html.twig' }) }}
    </div>

{% endblock %}
