{% form_theme paymentType 'RjCoreBundle::form.html.twig' %}
{% form_theme paymentBalanceOnlyType 'RjCoreBundle::form.html.twig' %}
{% form_theme userDetailsType 'RjCoreBundle::form.html.twig' %}


<div data-role="page" id="pay">

    <div data-role="popup" id="dateConfirmed" data-overlay-theme="b" class="ui-content" style="font-family: PT Sans Caption;">
            <p>Your landlord will be notified that your payment was sent on <span id="selectedDate"></span>.</p>
            <a href="#pay" onclick="$('#dateConfirmed').popup('close')" data-role="button" data-theme="b" class="ui-link ui-btn ui-btn-b ui-shadow ui-corner-all" style="background: #eb6024; font-family: PT Sans Caption; font-size: 20pt;" role="button">OK</a>
    </div>


    <div data-role="header" role="banner" class="ui-header ui-bar-inherit" style="">
        <a id="backToContract" href="#main" data-transition="slide" data-direction="reverse" data-role="none" role="button" class="headerButton" style="color: white;">Back</a>
        <h1 class="ui-title" role="heading" aria-level="1">Edit Payment</h1>
        <a href="#review" onclick="createReview()" data-role="none" role="button" class="headerButton" style="color: white; border-left: 1px solid white; border-right: 0px;">Next</a>
    </div>

        <div class="ui-content" role="main">

            <div id='errorMsg' style='display: none;background: red; padding: 4px; width: 100%;color: white; text-shadow: none; border-radius: 2px;'>

                </div>

            <form {{ form_enctype(paymentType) }} method="post" id="rentForm" name="rentForm" action="checkout/exec" data-ajax="false" novalidate>
                {{ form_widget(paymentType) }}
                {{ JSFV(paymentType) }}

                <input type="hidden" id="contract_id" name="contract_id">
            </form>


            {{ render(controller('RjCheckoutBundle:Component:source',{'mobile':'true'})) }}


                <a href="#review" onclick="createReview()" style="text-decoration: none;"><button style="background: #eb6024; color: white; font-weight: normal;">Next</button></a>


            <div style="height: 140px;">
                <p style="color: grey;">
                    RentTrack is a registered payment processor. Your account is safe and secure.
                </p>
                <img src="/bundles/rjcore/Images/mobile/footer-norton.png" style="float: left;">
                <img src="/bundles/rjcore/Images/mobile/footer-logo.png" style="float: right;">
            </div>
        </div>

</div>

<script>

    jQuery.fn.swap = function(b){
        b = jQuery(b)[0];
        var a = this[0];
        var t = a.parentNode.insertBefore(document.createTextNode(''), a);
        b.parentNode.insertBefore(a, b);
        t.parentNode.insertBefore(b, t);
        t.parentNode.removeChild(t);
        return this;
    };

    function createReview(){
        $("#rentjeeves_checkoutbundle_paymenttype_paymentAccountId").val($("#rentjeeves_checkoutbundle_paymenttype_paymentAccount").val());
        $("#contract_id").val($("#rentjeeves_checkoutbundle_paymenttype_contractId").val());
        $("#revRentAmount").html($("#rentjeeves_checkoutbundle_paymenttype_amount").val());
        $("#revMethod").html($("#rentjeeves_checkoutbundle_paymenttype_paymentAccount option:selected").html());

        if($('#rentjeeves_checkoutbundle_paymenttype_type').val()=="one_time") {
            a="One time"
            $('#revEndsLabel').hide()
            $("#revSendOn").html($("#rentjeeves_checkoutbundle_paymenttype_start_date").val());
            $("#rentjeeves_checkoutbundle_paymenttype_ends").val('cancelled');
        }else{
            if($("#rentjeeves_checkoutbundle_paymenttype_frequency").val()=="monthly"){
                $("#revSendOn").html("Day "+$("#rentjeeves_checkoutbundle_paymenttype_dueDate").val()+" of each month");
            }else{
                $("#revSendOn").html("Last day of month");
            }

            if($("#rentjeeves_checkoutbundle_paymenttype_ends").val()=="cancelled"){
                $('#revEnds').html(" when cancelled")
            }else{
                $('#revEnds').html($("#rentjeeves_checkoutbundle_paymenttype_endMonth").val()+"/"+$("#rentjeeves_checkoutbundle_paymenttype_endYear").val())
            }


            a="Recurring"
        }

        $("#revRecurring").html(a);
        $("#rentjeeves_checkoutbundle_paymenttype_paymentAccount").prop('disabled',true);

    }
    recurringFormIds=[
            "rentjeeves_checkoutbundle_paymenttype_frequency_row",
            "rentjeeves_checkoutbundle_paymenttype_startMonth_row",
            "rentjeeves_checkoutbundle_paymenttype_ends_row",
            "rentjeeves_checkoutbundle_paymenttype_endMonth",
            "rentjeeves_checkoutbundle_paymenttype_endYear"
    ]
    onetimeFormIds=[
            "rentjeeves_checkoutbundle_paymenttype_start_date_row"
    ]

    function formType(i){
            $.each(recurringFormIds,function(index,value){
                if(i) {
                    $('#' + value).hide();
                    $('#' + value).prop( "disabled", true );
                }else{
                    $('#' + value).show();
                    $('#' + value).prop( "disabled", false );
                }
            })
            $.each(onetimeFormIds,function(index,value){
                if(!i) {
                    $('#' + value).hide();
                    $('#' + value).prop( "disabled", true );
                }else{
                    $('#' + value).show();
                    $('#' + value).prop( "disabled", false );
                }
            })
        if(i){
            //one-time
            $("#rentjeeves_checkoutbundle_paymenttype_ends_0").attr("checked",true)
            $("#rentjeeves_checkoutbundle_paymenttype_ends_1").attr("checked",false)
            whenCancelled(false)

        }else{
            //recurring
            $("#rentjeeves_checkoutbundle_paymenttype_ends_0").attr("checked",false)
            $("#rentjeeves_checkoutbundle_paymenttype_ends_1").attr("checked",true)
            whenCancelled(true)
        }
        $("#rentjeeves_checkoutbundle_paymenttype_ends_0").checkboxradio("refresh");
        $("#rentjeeves_checkoutbundle_paymenttype_ends_1").checkboxradio("refresh");
    }

    cancelled=[
        "rentjeeves_checkoutbundle_paymenttype_endMonth",
        "rentjeeves_checkoutbundle_paymenttype_endYear"
    ]
    function whenCancelled(i){
        $.each(cancelled,function(index,value){
            if(i) {
                $('#' + value).selectmenu('enable');
            }else{
                $('#' + value).selectmenu('disable')
            }
        })
    }

    function freqHide(i){
        if(!i){//hide
            $('#rentjeeves_checkoutbundle_paymenttype_dueDate_box').hide()
        }else{
            $('#rentjeeves_checkoutbundle_paymenttype_dueDate_box').show()
        }
    }


    function updateTotal(){
        t=$("#rentjeeves_checkoutbundle_paymenttype_amount").val()+$("#rentjeeves_checkoutbundle_paymenttype_amountOther").val()
        $("#rentjeeves_checkoutbundle_paymenttype_total_view").html(t)
    }


    function submitForm(){

        $.ajax({
            url: 'checkout/exec',
            data: $('#rentjeeves_checkoutbundle_paymenttype').serialize(),
            type: 'post',
            async: 'true',

            success: function (result) {
                a=result
                console.log(result)
                $.mobile.changePage('#pay')
                msg="";
                $.each(result,function(i,k){
                    $.each(k,function(h,j){
                        msg+=j+"<br>"
                    })
                })
                $("#errorMsg").html(msg)
                $("#errorMsg").show()
            },
            error: function (request, error) {
                $.mobile.changePage('#pay')
                msg="An error occurred. ("+error+")"
                $("#errorMsg").html(msg)
                $("#errorMsg").show()
            }
        });
    }
</script>

<div data-role="page" id="review">


    <div data-role="header" role="banner" class="ui-header ui-bar-inherit" style="">
        <a href="#pay" data-transition="slide" data-direction="reverse" data-role="none" class="headerButton" style="background: transparent;border: none; color: white; border-right: 1px solid white;">Back</a>
        <h1 class="ui-title" role="heading" aria-level="1">Review</h1>
        <a href="#review" href="#popupBasic" class="headerButton" style="color: white; border-left: 1px solid white; border-right: 0px;" data-role="none">Pay Rent</a>
    </div>

    <div class="ui-content" role="main" style="background: url(/bundles/rjcore/Images/mobile/lightblur-bgnd.png); min-height: 653px;">
    <b><span id="revRecurring">Single</span> rent payment for <span id="contractAddress"></span></b>
        <hr>
        <h4>Who's getting paid:</h4>

    <span id="payTo">

    </span><br><br>

        <b>
            Rent Amount:
        </b>

        $<span id="revRentAmount"></span><br>

        <b>Send on: </b>

        <span id="revSendOn"></span><br>

        <b id="revEndsLabel">Ends: </b>

        <span id="revEnds"></span><br>

        <hr>

        <h4>How You're Paying</h4>

        <b>Method:</b> <span id="revMethod"></span>

        <br><br>

        <a href="#popupBasic" onclick="submitForm()" data-rel="popup" data-transition="pop" data-position-to="window" style="text-decoration: none;">
        <button role="button" data-role="none" style="background: #eb6024; color: white; font-weight: normal;" class=" ui-btn ui-shadow ui-corner-all">Pay Rent</button>
        </a>



        <div data-role="popup" id="popupBasic" data-overlay-theme="b" class="ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all">
            <p>Payment Scheduled</p>
        </div>

    </div>

</div>