{% form_theme paymentType 'RjCoreBundle::form.html.twig' %}
{% form_theme paymentBalanceOnlyType 'RjCoreBundle::form.html.twig' %}
{% form_theme userDetailsType 'RjCoreBundle::form.html.twig' %}


<div data-role="page" id="pay">


    <div data-role="header" role="banner" class="ui-header ui-bar-inherit" style="">
        <a id="backToContract" href="#main" data-transition="slide" data-direction="reverse" data-role="none" role="button" class="headerButton" style="color: white;">Back</a>
        <h1 class="ui-title" role="heading" aria-level="1">Edit Rent Payment</h1>
        <a href="#review" onclick="createReview()" data-role="none" style="color: white; border-left: 1px solid white; border-right: 0px;">Next</a>
    </div>

        <div class="ui-content" role="main">


            <form {{ form_enctype(paymentType) }} method="post" name="rentForm" action="checkout/exec" novalidate>
                {{ form_widget(paymentType) }}
                {{ JSFV(paymentType) }}

                <input type="hidden" id="contract_id" name="contract_id">
            </form>


            {{ render(controller('RjCheckoutBundle:Component:source',{'mobile':'true'})) }}


                <a href="#review" onclick="createReview()"><button style="background: #eb6024; color: white;">Next</button></a>
        </div>

</div>

<script>
    $("#rentjeeves_checkoutbundle_paymenttype_paidFor").html("<option value='2015-02-21'>MAR</option>")

    function createReview(){
        $("#rentjeeves_checkoutbundle_paymenttype_paymentAccountId").val($("#rentjeeves_checkoutbundle_paymenttype_paymentAccount").val());
        $("#contract_id").val($("#rentjeeves_checkoutbundle_paymenttype_contractId").val());
        $("#revRentAmount").html($("#rentjeeves_checkoutbundle_paymenttype_amount").val());
        $("#revMethod").html($("#rentjeeves_checkoutbundle_paymenttype_paymentAccount option:selected").html());
        $("#revSendOn").html($("#rentjeeves_checkoutbundle_paymenttype_start_date").val());
        $("#revRecurring").html($('#rentjeeves_checkoutbundle_paymenttype_type').val)
    }
</script>

<div data-role="page" id="review">


    <div data-role="header" role="banner" class="ui-header ui-bar-inherit" style="">
        <a href="#pay" data-transition="slide" data-direction="reverse" data-role="none" class="headerButton" role="button" style="background: transparent;border: none; color: white;">Back</a>
        <h1 class="ui-title" role="heading" aria-level="1">Review</h1>
        <a href="#review" href="#popupBasic" class="headerButton" style="color: white; border-left: 1px solid white; border-right: 0px;" data-role="none">Pay Rent</a>
    </div>

    <div class="ui-content" role="main">
    <b><span id="revRecurring">Single</span> rent payment for <span id="contractAddress"></span></b>
        <hr>
        <h4>Who's getting paid:</h4>

    <span id="payTo">
        John Doe<br>
        123 State St.<br>
        Santa Barbara, CA<br>
        93107<br>
    </span><br><br>

        <b>
            Rent Amount:
        </b>

        $<span id="revRentAmount"></span><br>

        <b>Send on: </b>

        <span id="revSendOn"></span><br>

        <b>Ends: </b>

        <span id="revEnds"></span><br>

        <hr>

        <h4>How You're Paying</h4>

        <b>Method:</b> <span id="revMethod"></span>

        <br><br>

        <a href="#popupBasic" onclick="document.forms['rentForm'].submit()" data-rel="popup" data-transition="pop" data-position-to="window">
        <input type="button" value="Pay Rent" data-role="none" style="background: #eb6024; color: white;">
        </a>



        <div data-role="popup" id="popupBasic" data-overlay-theme="b" class="ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all">
            <p>Payment Scheduled</p>
        </div>

    </div>

</div>