{% form_theme paymentAccountType 'RjCoreBundle::form.html.twig' %}

<div class="form-row clearfix">
    <div class="fields-box">
        <small><b>*</b>Required</small>
    </div>
</div>

{{ form_widget(paymentAccountType) }}
