{% extends '::base.html.twig' %}

{% block content %}
<div>
  {% block fos_user_content %}
  {% endblock fos_user_content %}
</div>
{% endblock %}

{% block info %}
<div class="user-logout">
    <a href="{{ path('fos_user_security_login') }}">» {{ 'login.submit' | trans }} </a>&nbsp;|&nbsp;
    <a href="{{ path('fos_user_security_logout') }}">» {{ 'common.help' | trans }} </a>
</div>
{% endblock %}