<div class="user-logout">
    <span>{{ email }}</span>&nbsp;|&nbsp;
    <a href="http://renttrack.uservoice.com/">{{ 'common.help' | trans }} </a>&nbsp;|&nbsp;
    <a href="{{ path('oauth_server_logout') }}">{{ 'common.log_out' | trans }} </a>
</div>
