<div class="user-logout">
    <a href="http://renttrack.uservoice.com/">{{ 'common.help' | trans }} </a>&nbsp;|&nbsp;
    <a href="http://renttrack.uservoice.com/">{{ 'common.terms' | trans }} </a>&nbsp;|&nbsp;
    <a href="http://renttrack.uservoice.com/">{{ 'common.privacy' | trans }} </a>
</div>
