<div id="pricing-popup" class="pricing-popup">
      <h1>See how easy it is to get paid.</h1>
      <div class="table-box">
        <ul class="pricing-table one-info-cell">
          <li>
            <div class="table-cell">
              <p class="note big">
                Try it for FREE. If you cancel in the first month, we’ll refund your monthly minimum and you keep your rent.
              </p>
            </div>
            <div class="table-cell info-cell">
              <div class="info-title pie-el">
                RentTrack Manager
              </div>
              <div class="info-content">
                <sup>$</sup>1<sup>/unit*</sup>
              </div>
            </div>
          </li>
          <li>
            <div class="table-cell th-cell">Monthly Minimum</div>
            <div class="table-cell th">$9.95</div>
          </li>
          <li>
            <div class="table-cell th-cell">Accept Electronic Checks Online</div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          <li>
            <div class="table-cell th-cell">Accept Credit Cards Online</div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          <li>
            <div class="table-cell th-cell">Tenant Identity Verification</div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          <li>
            <div class="table-cell th-cell">Easy Reporting</div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          <li>
            <div class="table-cell th-cell">Free and Friendly Customer Support</div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          <li>
            <div class="table-cell th-cell">Rock-Solid Safeguards</div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          <li>
            <div class="table-cell th-cell">Collect Payment Website Widget</div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          
          <li>
            <div class="table-cell title-cell">ADDITIONAL SERVICES</div>
            <div class="table-cell title-cell"> </div>
          </li>
          
          <li>
            <div class="table-cell th-cell">Paperless Credit Report &amp; Criminal and Eviction Checks</div>
            <div class="table-cell th">$9.95 per screen</div>
          </li>
          <li class="table-footer big-padding">
            <div class="table-cell">
              <div class="green-box plus pie-el">
                *We'll waive your unit fee if the tenant enrolls 
                in any one of our monthly <a href="#">credit services</a>.
              </div>
            </div>
            <div class="table-cell">
              <div class="buttons-box">
                <button class="button button-close" type="button"><span>Sign Up Today</span></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>