<div id="pricing-popup" class="pricing-popup">
      <h1>Make Your Money Count!</h1>
      <h3>Build credit while you pay rent.</h3>
      <div class="table-box">
        <ul class="pricing-table">
          <li>
            <div class="table-cell">
              <p class="note">
                You can choose to report your on-time payments to credit bureaus with any of our plans. This helps you build a strong credit history.
              </p>
            </div>
            <div class="table-cell info-cell">
              <div class="info-title pie-el">
                RentTrack
              </div>
              <div class="info-content">
                Free
              </div>
            </div>
            <div class="table-cell info-cell">
              <div class="info-title pie-el">
                ScoreTrack
              </div>
              <div class="info-content">
                <sup>$</sup>1<sup>95/mo.</sup>
              </div>
            </div>
          </li>
          <li>
            <div class="table-cell th-cell">Get Your Credit Score</div>
            <div class="table-cell th">First One Free</div>
            <div class="table-cell th">Monthly</div>
          </li>
          <li>
            <div class="table-cell th-cell">Pay Rent by E-Check</div>
            <div class="table-cell"><span class="checked">checked</span></div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          <li>
            <div class="table-cell th-cell">Pay Rent by Credit Card*</div>
            <div class="table-cell"><span class="checked">checked</span></div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          <li>
            <div class="table-cell th-cell">Set up Auto Payments</div>
            <div class="table-cell"><span class="checked">checked</span></div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          <li>
            <div class="table-cell th-cell">Build Credit (opt-in)</div>
            <div class="table-cell"><span class="checked">checked</span></div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          <li>
            <div class="table-cell th-cell">Free and Friendly Customer Support</div>
            <div class="table-cell"><span class="checked">checked</span></div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          <li>
            <div class="table-cell th-cell">Rock-Solid Security Safeguards</div>
            <div class="table-cell"><span class="checked">checked</span></div>
            <div class="table-cell"><span class="checked">checked</span></div>
          </li>
          <li class="table-footer">
            <div class="table-cell">
              <p class="note">
                We’ll invite your landlord to join. Once they join and accept rent electronically, you can start building your credit.
              </p>
            </div>
            <div class="table-cell">
              <div class="buttons-box">
                <button class="button button-close" type="button"><span>Sign Up Today</span></button>
              </div>
            </div>
            <div class="table-cell">
              <div class="buttons-box">
                <button class="button button-close" type="button"><span>Sign Up Today</span></button>
              </div>
              <p class="note">
                We’ll sign you up for ScoreTrack when you set up your first rent payment.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <p class="note">*We charge a convenience fee of 2.95%, or $20 if you live in CA, CO, CT, FL, KS, ME, MA, NY, OK or TX.</p>
    </div>