<section class="pay-box">
    <h1>Pay your rent on time. Build your credit.</h1>
    <div class="pay-credit clearfix">
      <div class="col pay">
        <i class="pie-el"> </i>
        <div>
          <h3>GET SOMETHING OUT OF IT!</h3>
          <h4>Maintain good credit habits, with a little help from Rent Jeeves.</h4>
          <p>
            Rent Jeeves lets you more marketing text selling the product to potential tenants. Rent Jeeves lets you more marketing text selling the product to potential tenants. Rent Jeeves lets you more marketing text selling the product to potential tenants. More marketing text selling the product to  tenants.
          </p>
        </div>
      </div>
      <div class="col credit">              
        <i class="pie-el"> </i>
        <div>
          <h3>SOOOO...</h3>
          <h4>How much is this gonna cost?</h4>
          <p>
            Rent Jeeves lets you more marketing text selling the product to potential tenants. Rent Jeeves lets you more marketing text selling the product.
          </p>
        </div>
      </div>
      <div class="separator">|</div>
    </div>
  </section>
  <div class="pricing-benefit-statement clearfix">
    <a href="#" title="Pricing Options">Pricing Options</a>
    <strong>Pricing benefit statement here!</strong>
</div>