<tr data-bind="if: status == 'skip' || status == 'ended_not_exist' || status == 'ended_exist'">
    <td data-bind="text:status"></td>
    <td data-bind="text:unit"></td>
    <td data-bind="text:resident_id"></td>
    <td data-bind="text:status"></td>
    <td data-bind="text:first_name"></td>
    <td data-bind="text:last_name"></td>
    <td data-bind="text:rent"></td>
    <td data-bind="text:move_in"></td>
    <td data-bind="text:lease_end"></td>
    <td data-bind="text:move_out"></td>
    <td data-bind="text:balance"></td>
    <td></td>
</tr>
