<tr data-bind="if: isSkipped || Tenant.contracts[0].status == 'finished', attr:{class:'line'}">
    <td data-bind="text: $root.getStatusText($data)"></td>
    <td data-bind="text:Tenant.contracts[0].unit.name"></td>
    <td data-bind="text:Tenant.resident_id"></td>
    <td data-bind="text:Tenant.first_name"></td>
    <td data-bind="text:Tenant.last_name"></td>
    <td data-bind="text:Tenant.email"></td>
    <td data-bind="html:Tenant.contracts[0].rent+'<br/>'+Tenant.contracts[0].imported_balance"></td>
    <td data-bind="html:$root.formatDate(Tenant.contracts[0].startAt)+'<br/>'+$root.formatDate(Tenant.contracts[0].finishAt)">
    </td>
    <td></td>
    <td>
        <span data-bind="visible: Tenant.contracts[0].status == 'finished', text: $root.formatDate($root.getMoveOut($data))">
        </span>
    </td>
</tr>
