{% extends "LandlordBundle::base.html.twig" %}

{% block content %}
<div>
  <div class="pod-middle pod-border pod-padding shadow">
    <section class="form-content">
    </section>
    <div class="col-box clearfix"></div>
  </div>
</div>
<div class="col-box clearfix"></div>
{% endblock %}