{% extends "CoreBundle:Mailer:border.html.twig" %}

{% block content %}
    <h1 style="
            color: #669900;
            display: block;
            font-size: 24px;
            font-weight: bold;
            line-height: 100%;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 10px;
            margin-left: 0;
            text-align: left;
            ">{% block h1 %}{% endblock %}</h1>
    <h2 style="
            color: #669900;
            display: block;
            font-size: 22px;
            font-weight: bold;
            line-height: 100%;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 10px;
            margin-left: 0;
            text-align: left;
            ">{% block h2 %}{% endblock %}</h2>
    <h3 style="
            color: #669900;
            display: block;
            font-size: 20px;
            font-weight: bold;
            line-height: 100%;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 10px;
            margin-left: 0;
            text-align: left;
            ">{% block h3 %}{% endblock %}</h3>
    <h4 style="
            color: #202020;
            display: block;
            font-size: 18px;
            font-weight: bold;
            line-height: 100%;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 10px;
            margin-left: 0;
            text-align: left;
            ">{% block h4 %}{% endblock %}</h4>
    <div style="
            margin-bottom: 10px;
            ">{% block email %}{% endblock %}
    </div>
    <div style="border-bottom: 1px solid #c8c8c8;"></div>
    <div style="clear: both;"></div>
    <div style="
            margin-bottom: 10px;
            ">
        <p>If you would like to view your latest score, you can log into Credit Jeeves anytime and check.</p>
        <p><center>
            <a href="#" style="
                border: none;
                padding: 2px 7px;
                text-align: left;
                color: white;
                font-size: 18px;
                text-shadow: 1px 1px 3px #636363;
                filter: dropshadow(color=#636363, offx=1, offy=1);
                cursor: pointer;
                background-color: #669900;
                -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff,endColorstr=#00ffffff)';
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff);
                zoom: 1;
                text-decoration: none;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                ">View Latest Score</a>
            </center>
        </p>
    </div>
    <div style="border-bottom: 1px solid #c8c8c8;"></div>
    <div style="clear: both;"></div>
    <div>
        <p>We're glad we could help,</p>
        <p><b>The Credit Jeeves Team</b></p>
    </div>
{% endblock %}