<div style="
        padding: 10px;
        border-left: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
        font-size: 16px;
        ">
it would be footer with info
</div>