<div style="
        padding: 10px;
        border-left: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
        font-size: 16px;
        ">
    <div style="
        font-size: 16px;
        text-align: center;
        padding: 0 5px;
        ">
        <a href="#">Help</a> | <a href="#">Company</a> | <a href="#">Blog</a>
    </div>
</div>