<div style="
        padding: 10px;
        border-left: 1px solid #c8c8c8;
        border-bottom: 1px solid #c8c8c8;
        border-right: 1px solid #c8c8c8;
        font-size: 16px;
        background-color: #ffffff;
        ">
    <div style="
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        ">
        <a style="color: #1985ea;" href="#">{{ 'email.help' | trans }}</a>&nbsp;|&nbsp;<a style="color: #1985ea;" href="#">{{ 'email.company' | trans }}</a>&nbsp;|&nbsp;<a style="color: #1985ea;" href="#">{{ 'email.blog' | trans }}</a>
    </div>
    <div style="
        background-color: #FAFAFA;
        text-align: center;
        font-size: 12px;
        margin-top: 10px;
        padding: 10px;
        ">
        <a style="color: #1985ea;" href="#">follow on Twitter</a>&nbsp;|&nbsp;<a style="color: #1985ea;" href="#">friend on Facebook</a>&nbsp;|&nbsp;<a style="color: #1985ea;" href="#">forward to a friend</a>
    </div>
    <div style="
        text-align: center;
        font-size: 12px;
        margin-top: 10px;
        color: #707070;
        ">
        You received this email because you are a member of Credit Jeeves.
    </div>
    <div style="
        text-align: center;
        font-size: 12px;
        margin-top: 5px;
        color: #707070;
        ">
        To manage your alert settings or change your email address, please visit the <a style="text-decoration: none; color: #1985ea;" href="#">My Account page</a>.
    </div>
    <div style="
        text-align: left;
        font-size: 12px;
        margin-top: 5px;
        color: #707070;
        ">
        <em>Copyright &copy;&nbsp;</em>2013 Credit Jeeves LLC. All rights reserved.
    </div>
    <div style="
        text-align: left;
        font-size: 12px;
        margin-top: 5px;
        color: #707070;
        ">
        <b>Our mailing address is:</b>&nbsp;<a style="color: #1985ea;" href="mailto:support@creditjeeves.com">support@creditjeeves.com</a>
    </div>
    <div style="
        text-align: left;
        font-size: 12px;
        margin-top: 5px;
        ">
        <a style="color: #1985ea;" href="#">Privacy Policy </a>&nbsp;|&nbsp;<a style="color: #1985ea;" href="#">Terms of Service</a>
    </div>
    <div style="
        text-align: center;
        font-size: 12px;
        margin-top: 10px;
        padding: 10px;
        ">
        <a style="color: #1985ea;" href="#">unsubscribe from this list</a>&nbsp;|&nbsp;<a style="color: #1985ea;" href="#">update subscription preferences</a>
    </div>

</div>