<div style="
        padding: 10px;
        border-left: 1px solid #f3f3f3;
        border-top: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
        font-size: 16px;
        ">
    Credit Jeeves
</div>