{% extends "TenantBundle::base.html.twig" %}

{% block content %}
    <div id="rent-menu">
    {{ knp_menu_render('TenantBundle:Builder:rentMenu', { 'template': 'CoreBundle:Menu:user_rent.html.twig' }) }}
    </div>
{% endblock %}
