{% extends "TenantBundle::base.html.twig" %}

{% block content %}
    <div id="rent-menu">
        {{ knp_menu_render('TenantBundle:Builder:rentMenu', { 'template': 'TenantBundle:Sources:menu.html.twig' }) }}
    </div>
        {{ render(controller('RjComponentBundle:PaymentHistory:index', {'user': user})) }}
{% endblock %}

{% block javascripts %}
    {% javascripts '@RjCoreBundle/Resources/public/js/jquery-ui.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
