    <div id="tenants-block" class="properties-block">
        <div class="">
            <div class="units-total floatleft"><h2 data-bind="text: 'All (' + $root.total() + ')'"></h2></div>
            <a class="btn orange property-button-add" href="{{ path('landlord_tenant_new')}}">New Tenant</a>
        </div>
        <div class="clearboth"></div>
        <!-- ko if: pages().length -->
        <div class="row-20"></div>
        <div class="">
            <!-- ko foreach: pages() -->
                <!-- ko if: $data == $root.current() -->
                <div class="btn grey floatleft" data-bind="click: $root.goToPage, text: $data"></div>
                <!-- /ko -->
                <!-- ko ifnot: $data == $root.current() -->
                <div class="btn green floatleft" data-bind="click: $root.goToPage, text: $data"></div>
                <!-- /ko -->
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <div class="clearboth"></div>
        <div class="properties-table-block">
            <!-- ko if: countTenants() -->
            <table class="properties-table zebra-grid">
                <thead>
                <tr class="properties-th">
                    <th>Status</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: { data: aTenants() } -->
                <tr>
                    <td data-bind="text: status"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: email"></td>
                    <td data-bind="text: phone"></td>
                    <td><div class="btn green property-edit">Edit</div></td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <!-- /ko -->
        </div>
        <div class="clearboth"></div>
    </div>
