<div class="pod-small pod-border pod-padding shadow">
    <h3>Did you know?</h3>
    <strong>Your tax refund can help.</strong>
    <p class='spaced-text'>A third of Americans use their tax refund to pay down high-interest debt. File your taxes today.</p>  
    <div>
        <a href="http://www.kqzyfj.com/click-6606250-10523214" target="_blank"><img src="https://www.lduhtrp.net/image-6606250-10523214" width="120" height="60" alt="Online - H&R Block At Home Free Edition " border="0"/></a>
    </div>
</div>

