<div class="form-row">
    {{ form_errors(form.code) }}
    <div class="form-label">{{ form_label(form.code) }}</div>
    <div class="form-widget">{{ form_widget(form.code, { 'attr': {'class': 'margin-left-none user-margin'} }) }}</div>
</div>
