<div class="form-row">
    <div class="form-label">{{ form_label(form.email) }}</div>
    <div class="form-widget">
    {{ form_widget(
        form.email,
        { 'attr':
            {
                'class': 'user-margin'
            }
        })
    }}
    </div>
</div>
