<div class="form-row">
        <div class="checkbox-anywhere floatleft">
            {{ form_widget(form.tos, {attr: {'class': 'tos-input-field'}}) }}
        </div>
        <div class="user-tos floatleft">I have read the <a href="http://www.creditjeeves.com/terms-of-service">Terms of Service</a></div>
</div>
<div class="clearboth"></div>
<div class="form-row">
        {{ 'common.applicant.tos' | trans }}
</div>
