<div id="contract-actions">
    <!-- Action Edit -->
    <div id="tenant-edit-property-popup" class="pricing-popup dashboard-popup properties-popup">
      <h1>Edit Tenant Information</h1>
      <div class="clearfix col-box" data-bind="with: contract">
        <div class="information-box pie-el">
          Are you sure you want to remove this property? Any payments 
          scheduled for this property will be cancelled. 
        </div>
        <div class="col">
          <h4 class="clearfix">
            <span>Tenant Information</span>
            <small><b>*</b>Required</small>
          </h4>
          <div class="form-row clearfix">
            <label>Name<b>*</b></label>
            <div class="fields-box">
              <input type="text" class="half-width" value="" data-bind="value: first_name">
              <input type="text" class="half-width" value="" data-bind="value: last_name">
            </div>
          </div>
          <div class="form-row clearfix">
            <label>Property<b>*</b></label>
            <div class="fields-box addressDiv"  data-bind="text: address">
            </div>
          </div>
          <div class="form-row clearfix">
            <label>Phone</label>
            <div class="fields-box">
              <input type="text" class="half-width" value="" data-bind="value: phone">
            </div>
          </div>
          <div class="form-row clearfix">
            <label>Email<b>*</b></label>
            <div class="fields-box">
              <input type="text" value="" data-bind="value: email">
            </div>
          </div>
        </div>
        <div class="col">
          <h4 class="clearfix">
            <span>Requested Payment</span>
            <i class="help pie-el tooltip-link" title="Help text goes here to further explain any questionable content. This is what it looks like on 3 lines.">?</i>
          </h4>
          <div class="form-row clearfix">
            <label>Property<b>*</b></label>
            <div class="fields-box addressDiv"  data-bind="text: address">
            </div>
          </div>
          <div class="form-row clearfix">
            <label>Amount<b>*</b></label>
            <div class="fields-box">
              <input type="text" data-bind="value: amount" value="" class="half-of-right">
            </div>
          </div>
          <div class="form-row clearfix">
            <label>Start<b>*</b></label>
            <div class="fields-box">
              <input type="text" value="" class="datepicker-field" data-bind="value: start" id="contractEditStart">
              <label class="fixed">End</label>
              <input type="text" value="" class="datepicker-field" data-bind="value: finish" id="contractEditFinish">
            </div>
          </div>
        </div>
      </div>
      <div class="footer-button-box">
        <button class="button" data-bind="click: saveContract"><span>Save Changes</span></button>
        <button class="button grey"  data-bind="click: cancelEdit"><span>Cancel</span></button>
        <a href="#" class="link" data-bind="click: removeTenant">Remove<br>Tenant</a>
      </div>
    </div>

    <!-- Action Review -->
    <div id="contract-review" class="units-wrapper" style="visibility: hidden;" data-bind="style: { visibility: review() ? 'visible' : 'hidden' }">
        <div class="units-background"></div>
        <div  class="units-block border" data-bind="style: { top: marginTop + 'px' }">
            <div data-bind="with: contract">
                <div data-bind="text: status"></div>
            </div>
            <div class="clearboth"></div>
            <div class="units-footer">
                <div class="btn orange floatleft" data-bind="click: saveContract">Save</div>
                <div class="btn sky floatleft" data-bind="click: clearDetails">Cancel</div>
                
            </div>
        </div>
    </div>

    <!-- Action Invite -->
    <div id="contract-invite" class="units-wrapper" style="visibility: hidden;" data-bind="style: { visibility: invite() ? 'visible' : 'hidden' }">
        <div class="units-background"></div>
        <div  class="units-block border" data-bind="style: { top: marginTop + 'px'}">
            <h1>Approve Tenant Information</h1>
            <div class="border contract-hint">
                This pending tenant is awaiting your approval
            </div>
            <div  data-bind="with: contract">
                <div><b>Tenant Information</b></div>
                <table class="contract-details">
                    <tbody>
                        <tr>
                            <td width="25%">Name:</td>
                            <td data-bind="text: tenant"></td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td data-bind="text: address"></td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td data-bind="text: phone"></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td data-bind="text: email"></td>
                        </tr>
                    </tbody>
                </table>
                <div><b>Request Payment</b></div>
                <table class="contract-details">
                    <tbody>
                        <tr>
                            <td width="25%">Amount:</td>
                            <td data-bind="text: amount">
                            <td width="25%">Due:</td>
                            <td data-bind="text: due_day">
                        </tr>
                        <tr>
                            <td>Start:</td>
                            <td data-bind="text: start">
                            <td width="25%">End:</td>
                            <td data-bind="text: finish">
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearboth"></div>
            <div class="units-footer">
                <div class="btn orange floatleft" data-bind="click: approveSave">Approve Tenant</div>
                <div class="btn orange floatleft" data-bind="click: editContract">Edit Info</div>
                <div class="btn grey floatleft" data-bind="click: clearDetails">Close</div>
            </div>
        </div>
    </div>

    <!-- Action Approve -->
    <div id="tenant-approve-property-popup" class="pricing-popup dashboard-popup properties-popup">
      <h1>Approve Tenant Information</h1>
      <div class="clearfix col-box"  data-bind="with: contract">
        
        <div class="information-box pie-el">
          This pending tenant is awaiting your approval.
        </div>
        
        <div class="col">
          <h4 class="clearfix">
            <span>Tenant Information</span>
          </h4>
          <div class="form-row clearfix">
            <label>Name</label>
            <div class="fields-box">
              <span class="value" data-bind="text: tenant"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>Property</label>
            <div class="fields-box">
              <span class="value" data-bind="text: address"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>Phone</label>
            <div class="fields-box">
              <span class="value"  data-bind="text: phone"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>Email</label>
            <div class="fields-box">
              <span class="value" data-bind="text: email"></span>
            </div>
          </div>
        </div>
        
        <div class="col">
          <h4 class="clearfix">
            <span>Requested Payment</span>
            <i class="help pie-el tooltip-link" title="Help text goes here to further explain any questionable content. This is what it looks like on 3 lines.">?</i>
          </h4>
          <div class="form-row clearfix">
            <label>Property</label>
            <div class="fields-box">
              <span class="value left">Monthly</span>
              <label class="fixed">Due</label>
              <span class="value left" data-bind="text: due_day"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>Amount</label>
            <div class="fields-box">
              <span class="value left" data-bind="text: amount"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>Start</label>
            <div class="fields-box">
              <span class="value left" id="contract-edit-start" data-bind="text: start"></span>
              <label class="fixed">End</label>
              <span class="value left" id="contract-edit-finish" data-bind="text: finish"></span>
            </div>
          </div>
        </div>
        
      </div>
      <div class="footer-button-box">
        <button class="button" data-bind="click: approveSave"><span>Approve Tenant</span></button>
        <button class="button" data-bind="click: editContract"><span>Edit Info</span></button>
        <div class="with-seperator-box">
          <button class="button grey" onclick="$('#tenant-approve-property-popup').dialog( 'close' ); return false;">
            <span>Cancel</span>
          </button>
        </div>
      </div>
    </div>
</div>

<div id="contracts-block">
  <div class="landrord-box">
    <div class="title-box clearfix">
      <h2 data-bind="text: 'All (' + $root.total() + ')'"></h2>
      <div class="fiter-box">
        <label>Filter by</label>
        <select class="select custom-select blue-arrow selectBox" style="display: none;">
          <option selected="selected" value="0">- Select One -</option>
        </select>
        <div class="finder-box">
          <input type="text" id="searsh-field" name="searsh-field" value="">
          <a href="#" id="delete" class="pie-el">x</a>
          <button type="submit" id="search-submit" class="pie-el">Search</button>
        </div>
        <button class="button small" data-bind="click: $root.addTenant"><span>Add Tenant</span></button>
      </div>
    </div>
    <div class="content-box">
      <div class="properties-table-block table-wrap">
        <div class="table-margin">
          <!-- ko if: countContracts() -->
          <table class="properties-table zebra-grid">
            <thead>
              <tr class="properties-th">
                <th class="pie-el"><span>Status<i> </i></span></th>
                <th class="pie-el"><span>Tenant<i> </i></span></th>
                <th class="pie-el"><span>Email<i> </i></span></th>
                <th class="pie-el"><span>Phone<i> </i></span></th>
                <th class="pie-el"><span>Property<i> </i></span></th>
                <th class="pie-el"><span>Amount</span></th>
                <th class="pie-el"><span>Due Date<i> </i></span></th>
                <th class="pie-el"><span>Paid To<i> </i></span></th>
                <th class="pie-el"><span>Type<i> </i></span></th>
                <th class="pie-el">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
            <!-- ko foreach: { data: aContracts() } -->
            <tr>
                <td data-bind="attr: {'class': 'actions-status '+style}">
                    <div data-bind="text: status"></div>
                </td>
                <td class="tenant-box" data-bind="text: tenant"></td>
                <td class="email-box ellipsis-box" data-bind="text: email"></td>
                <td class="nowrap-box" data-bind="text: phone"></td>
                <td class="property-box ellipsis-box" 
                data-bind="text: address, event: { dblclick: $root.filterAddress }"></td>
                <td data-bind="text: amount"></td>
                <td data-bind="text: due_day"></td>
                <td class="type-box" data-bind="text: paid_to"></td>
                <td></td>
                <td class="type-box">
                    <!-- ko if: 'CURRENT' == status -->
                    <a title="Edit" class="type-ico pie-el edit" href="#"
                     data-bind="click: $root.editContract, attr:{'id': 'edit-' + id}">&nbsp;</a>
                    <!-- /ko -->
                    <!-- ko if: 'PENDING' == status -->
                    <a title="Approve" class="type-ico pie-el approve" href="#" 
                    data-bind="click: $root.approveContract, attr:{'id': 'edit-' + id}">&nbsp;</a>
                    <!-- /ko -->
                    <!-- ko ifnot: 'PENDING' == status || 'CURRENT' == status -->
                    <a title="Review" class="type-ico pie-el review" href="#" data-bind="click: $root.reviewContract, attr:{'id': 'edit-' + id}">&nbsp;</a>
                    <!-- /ko -->
                </td>
            </tr>
            <!-- /ko -->
            </tbody>
          </table>
        <!-- /ko -->
        <!-- ko ifnot: countContracts()  -->
            <img src="/bundles/core/images/img_loading.gif" id="processLoading" class="processLoading" >
        <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
  
  <div class="landrord-box without-top clearfix">
    <div class="legeng-box">
      <ul class="legeng">
        <li class="tr">
          <div class="th cell">
            Legend
          </div>
          <div class="th cell"></div>
        </li>
        <li class="tr">
          <div class="cell">
            <ul class="vert">
              <li>
                <span class="clarification alert"><i> </i>Alert</span>
              </li>
              <li>
                <span class="clarification pending"><i> </i>Pending</span>
              </li>
            </ul>
          </div>
          <div class="cell">
            <ul class="hor">
              <li>
                <span class="clarification e-check"><i> </i>E-Check</span>
                <span class="clarification credit-card"><i> </i>Credit Card</span>
                <span class="clarification recurring"><i> </i>Recurring</span>
                <span class="clarification csm-icon"><i> </i>Credit Service Member<br><small><em>(ACH fee waived)</em></small></span>
              </li>
              <li>
                <span class="clarification review"><i> </i>Review</span>
                <span class="clarification edit"><i> </i>Edit</span>                        
                <span class="clarification approve"><i> </i>Approve</span>
                <span class="clarification alert"><i> </i>Alert</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <nav class="pagination-box">
    <!-- ko if: pages().length -->
    <ul>
        <!-- ko foreach: pages() -->
                <!-- ko if: $data == $root.current() -->
                <li><span data-bind="click: $root.goToPage, text: $data"></span></li>
                <!-- /ko -->
                <!-- ko ifnot: $data == $root.current() -->
                 <li><a href='#' data-bind="click: $root.goToPage, text: $data"></a></li>
                <!-- /ko -->
        <!-- /ko -->
    </ul>
    <!-- /ko -->
    </nav>
  </div>
</div>