<?php

namespace BadNamespace;

use RentJeeves\DataBundle\Entity\Import;
use RentJeeves\ImportBundle\LeaseImport\Transformer\TransformerInterface;

class CustomTransformerWithInvalidNamespace implements TransformerInterface
{
    /**
     * {@inheritdoc}
     */
    public function transformData(array $accountingSystemData, Import $import)
    {
    }
}
