{% extends "DealerBundle::base.html.twig" %}

{% block title "Dealer Area" %}

{% block content %}
    <h1>It is not ready yet!</h1>
    <a href="/dealer.php">Dealer part</a> <br />
    <a href="/admin.php">SF1 admin part</a>
{% endblock %}
