.navbar-logout {
    float: right;
    font-size: 20px;
    margin-top: 10px;
}

.sonata-bc .icon-show {
    background-position: -48px 0;
}

.sonata-bc .icon-report {
    background-position: -24px -23px;
}

.sonata-bc .icon-dealer {
    background-position: -168px 1px;
}

.sonata-bc .icon-lead {
    background-position: -217px -119px;
}

.sonata-bc .icon-order {
    background-position: -240px -23px;
}

.sonata-bc .icon-contract {
    background-position: -1px -23px;
}

.sonata-bc .btn {
    margin: 1px;
    width: 85px;
}
.sonata-ba-list-field {
    word-break: break-all;
}
.overlay {
    background-color: #000;
    background-image: url('../images/processing.gif');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.2;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 20);
    z-index: 50;
}

.sonata-ba-list-field-email, .sonata-ba-list-field-phone {
    white-space: nowrap;
}

.sonata-select-status {
    width: 100px !important;
}

.job-status-icon {
    width: 14px;
    height: 14px;
    background-color: #999999;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    vertical-align: middle;
    display: inline-table;
}

.job-status-icon.running {
    background-color: #3a87ad;
}

.job-status-icon.canceled {
    background-color: #333333;
}

.job-status-icon.terminated, .job-status-icon.failed,  .job-status-icon.incomplete {
    background-color: #b94a48;
}

.job-status-icon.finished {
    background-color: #468847;
}