.navbar-logout {
    float: right;
    font-size: 20px;
    margin-top: 10px;
}

.sonata-bc .icon-show {
    background-position: -1px -23px;
}

.sonata-bc .icon-report {
    background-position: -24px -23px;
}