button, .button {
    border: none;
    padding-left: 15px;
    text-align: left;
    color: white;
    font-size: 18px;
    font-family: astoria-medium;
    text-shadow: 1px 1px 3px #636363;
    filter: dropshadow(color=#636363, offx=1, offy=1);
    cursor: pointer;
    background-color: transparent;
    background-position: top left;
    background-repeat: no-repeat;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff,endColorstr=#00ffffff)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff); /* IE8 */
    zoom: 1; /* IE6 & 7 */
    color: white;
}

.button:hover, button:hover {
    background-position: bottom left;
}

.button.small, button.small {
    width: 195px;
    height: 34px;
    font-size: 18px;
    padding-left: 22px;
}

.button.long, button.long {
    width: 194px;
    padding-left: 15px;
}

.button.large, button.large {
    width: 178px;
    height: 44px;
    font-size: 22px;
    padding-left: 25px;
}

.button.x-large, button.x-large {
    width: 257px;
    height: 44px;
    font-size: 21px;
    padding-left: 36px;
}

a.button {
    display: block;
}

a.button.small {
    padding-left: 20px;
    width: 113px;
    line-height: 35px;
}

.button.large.green, button.large.green {
    background-image: url(/bundles/core/images/buttons/btn_lg_green.png);
}

.button.x-large.green, button.x-large.green {
    background-image: url(/bundles/core/images/buttons/btn_xlg_green.png);
}

.button.small.green-refresh, button.small.green-refresh {
    background-image: url(/bundles/core/images/buttons/small_green_refresh.png);
}

.button.small.green, button.small.green {
    background-image: url(/bundles/core/images/buttons/small_green.png);
}

.button.small.blue.narrow, button.small.blue.narrow {
    background-image: url(/bundles/core/images/buttons/small_blue_narrow.png);
}
