.property-list {
    padding: 15px;
}

.border {
    border: 3px #BFBFBF solid;
    box-shadow: 0 0 2px 2px #BFBFBF;
}

.property-button-add {
    float: right;
    margin-top: -4px;
    margin-right: -12px;
}

table {
    border-collapse: collapse;
    
}

table tbody,
table tbody tr td {
    border: 1px #c8c8c8 solid;
}

table.contract-details,
table.contract-details tbody,
table.contract-details tbody tr td {
    border: none;
    padding: 5px;
}

table tbody tr td {
    padding: 10px;
}

table.properties-table th {
    text-align: left;
    padding: 10px;
    border: 1px #c8c8c8 solid;
}

.properties-th {
    background-color: #f3f3f3;
}

.properties-table-block {
    margin-top: 15px;
}

/* Units block */
.units-wrapper {
    width: 550px;
    margin: 0 auto;
    position: absolute;
    top: 250px;
}
.units-block {
   background-color: #ffffff;
   width: 550px;
   position: absolute;
   left: 180px;
   z-index: 1;
}

.units-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.3;
}

.units-item {
    float: left;
    width: 50px;
    margin: 0 5px 0px;
    padding: 1px;
}

.units-item input[type="text"] {
    height: 20px;
}

.unit-delete {
    margin: 0;
}

.unit-input {
    width: 80px;
}

.units-footer {
    margin-top: 15px;
    padding-left: 110px;
}

.units-total {
    font-size: 16px;
    margin-top: 4px;
}

.units-add {
    font-size: 16px;
    padding: 0;
}

.unit-add-text {
    margin: 4px 5px 0 0;
}

.unit-add-btn {
    margin-top: 1px;
}


.actions-status {
    width: 105px;
    margin-top: 3px;
    font-weight: bold;
}

.action-alert {
    background: url("/bundles/core/images/alert.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 22px;
    width: 22px;
}

.action-resolve {
    margin-top: 3px;
    color: #1985EA;
    cursor: pointer;
    font-weight: bold;
}

.contract-pending {
    background-image: linear-gradient(left , rgb(255,255,0) 0%, rgb(255,255,255) 65%);
    background-image: -o-linear-gradient(left , rgb(255,255,0) 0%, rgb(255,255,255) 65%);
    background-image: -moz-linear-gradient(left , rgb(255,255,0) 0%, rgb(255,255,255) 65%);
    background-image: -webkit-linear-gradient(left , rgb(255,255,0) 0%, rgb(255,255,255) 65%);
    background-image: -ms-linear-gradient(left , rgb(255,255,0) 0%, rgb(255,255,255) 65%);

    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, rgb(255,255,0)),
        color-stop(0.65, rgb(255,255,255))
    );
}

#actions-block .contract-late {
    background-image: linear-gradient(left , rgb(255,0,0) 0%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(left , rgb(255,0,0) 0%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(left , rgb(255,0,0) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(left , rgb(255,0,0) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(left , rgb(255,0,0) 0%, rgb(255,255,255) 100%);

    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, rgb(255,0,0)),
        color-stop(1, rgb(255,255,255))
    );
}

.contract-remove {
    color: red;
    cursor: pointer;
}

.contract-input {
    width: 150px;
}

.contract-first {
    width: 100px;
}

.contract-last {
    width: 150px;
}

.contract-hint {
    background-color: #ffff00;
    padding: 10px;
    border: 2px solid #ffff33;
    margin: 10px 0;
}
.sort {
    margin-top: -9px;
}
.processLoading {
    position: absolute;
    margin-top: 55px;
    margin-left: 400px;
}
.sortField {
    cursor: pointer;
}
.sortDown {
    margin-top: 2px;
}

.sortUp {
    margin-left: -14px;
}
.sortUpOnly {
    margin-left: 1px;
}
.containerSearch {
    float: right;
}
.filterBy, .searchBy {
    float: left;
}
.filterBy>label {
    float: left;
    margin-top: 7px;
    font-size: 16px;
    margin-right: 10px;
}
.searchBy>input {
    float: left;
}

.containerSearch {
    position: absolute;
    margin-left: 453px;
    margin-top: 3px;
}

#searchFilterSelect_link {
    width: 119px;
    height: 23px;
    font-size: 13px;
}

#delete {
    float: left;
    width: 16px;
    height: 16px;
    margin: 5px 0 0 -23px;
    overflow: hidden;
    text-indent: -999px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #bdbdbd url(/bundles/rjpublic/images/sprite-icons.png) 0 -50px no-repeat;
}
#search {
    height: 16px;
}

.filterBy .linkselect-link-icon {
    background: url(/bundles/rjpublic/images/select.png) no-repeat top left;
    height: 22px;
    width: 19px;
    margin-top: 1px;
}
.button.small, button.small {
    width: auto;
    padding-left: 0px;
}
.blue>span{
    background: #16B3ED;
    background: -moz-linear-gradient(top, #16B3ED 0%, #9ECBF7 100%);
    background: -webkit-linear-gradient(top, #16B3ED 0%,#9ECBF7 100%);
    background: -o-linear-gradient(top, #16B3ED 0%,#9ECBF7 100%);
    background: -ms-linear-gradient(top, #16B3ED 0%,#9ECBF7 100%);
    background: linear-gradient(to bottom, #16B3ED 0%,#9ECBF7 100%);
    -pie-background: linear-gradient(to bottom, #16B3ED 0%,#9ECBF7 100%);
}
.property-edit {
    cursor: pointer;
    text-align: center;
}

.address {
    padding-top: 20px;
    color: #676767;
}

.address>h4, .units-header>h4{
    color: #676767;
    font-weight: normal;
}

.addressName {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
}
.addressNameText {
    margin-left: 30px;
}
.units-header {
    clear: both;
    margin-top: 45px;
}

.textNumber {
    width: 74px;
    display: block;
    height: 39px;
    float: left;
}

.units-add, .textNumber {
    font-size: 14px;
    line-height: 20px;
}
.numberOfUnit {
    float: left;
    margin-left: 20px;
    margin-top: 9px;
    font-weight: bold;
}
.marginLeftSmall {
    margin-left: 10px;
}
.paddingTopSmall {
    padding-top: 10px;
}
.paddingTopVerySmall {
    padding-top: 10px;
}
.unit-add-btn {
    margin-left: 5px;
}
.unit-input {
    width: 34px !important;
    height: 16px !important;
    margin-left: 20px !important;
}
.unit-add-btn {
    margin-top: 0px;
    cursor: pointer;
}

.itemsUnitContainer {
    width: 440px;
    min-height: 50px;
}
.textUnitEdit {
    font-size: 14px;
    margin-left: 10px;
    display: block;
    width: 64px;
    line-height: 18px;
}

.unit-input {
    margin-left: 0px !important;
}
.unit-delete {
    background: #bdbdbd url(/bundles/rjpublic/images/sprite-icons.png) 0 -50px no-repeat;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    position: absolute;
    margin-left: 36px;
    margin-top: 15px;
    cursor: pointer;
}
.units-footer{
    padding-left: 110px;
    background-color: #E1E1E1;
    width: 440px;
    height: 26px;
    padding: 10px;
    text-align: center;
    margin-left: -20px;
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    margin-top: -26px;
    padding-left: 140px;
}

.footerPopup{
    height: 0px;
    padding-top: 75px;
}

.removeButton {
    border-left: 1px solid grey;
    color: red;
    padding-left: 7px;
    font-size: 13px;
    height: 19px;
    padding-top: 6px;
    cursor: pointer;
}
#search-result-map {
    display: none;
}

#delete {
    float: right;
    width: 16px;
    height: 16px;
    margin: 5px 5px 0 -20px;
    overflow: hidden;
    text-indent: -999px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #bdbdbd url(/bundles/rjpublic/images/sprite-icons.png) 0 -50px no-repeat;
    z-index: 1;
}

.loader {
    display: none;
}

.buttonFixSearch {
    padding-left: 5px !important;
    margin-top: -5px !important;
    margin-right: 0px !important;
}

.buttonFixPopupAddUnit {
    padding-left: 0px !important;
    margin-top: -5px !important;
    margin-right: 0px !important;
}

.units-item .unit-input {
    width: 36px !important;
    margin-left: 6px !important;
}

.units-item .unit-input-edit {
    width: 27px !important;
}

.units-item .unit-delete {
     margin-left: 42px;
}

.form-row {
    width: 380px;
}
.properties-table-block {
    display: none;
}

.buttonFix {
    border: none;
    margin-left: 0px !important;
    padding-left: 0px !important;
}

#inputEditAddUnit {
    width: 20px;
}

#numberOfUnit {
    width: 20px !important;
}
a.linkselect-link .linkselect-link-text {
    padding: 6px 9px;
    height: 16px;
    padding-top: 4px !important;
    line-height: 14px;
}
#properties-block {
    display: none;
}

.group-select .linkselect-link-icon {
    background: url(/bundles/rjpublic/images/select.png) no-repeat top left;
    height: 22px;
    width: 19px;
    margin-top: 1px;
    
}
.group-select a {
    width: 135px;
    font-size: 13px;
    height: 23px;
    margin-left: 10px;
}

.ui-dialog {
    position:absolute;
}

.no-data-row {
    padding: 35px;
    text-align: center;
}

#searchPaymentsStatus_link, #searchSelect {
    margin-left: 0;
    margin-right: 0;
}

.errorsGoogleSearch {
    color: red;
}

.pricing-popup .attention-box h3 {
    color: #EF543E;
    font: bold 14px/18px 'ABeeZee',sans-serif;
    padding: 0;
    text-align: left;
}
.single-property-checkbox {
    position: relative;
    margin-left: -18px;
    padding: 10px 0 10px 0;
}
.single-property-checkbox .error {
    margin-left: 25px;
    color: red;
}
.notHaveData {
    height: 50px;
    padding-top: 50px;
    text-align: center;
}
