/* fix IE 8 */
.shadow {
    border: 1px solid #c8c8c8;
}

.tradeline-details {
    width: 153px;
}

.section {
     background: url("/bundles/core/images/bg-gradient-top.png") repeat-x scroll left top #A3CEF7;
}
.body {
    background: url("/bundles/core/images/bg-gradient-bottom.png") repeat-x scroll left bottom transparent;
}

.dealer-name {
    top: 120px;
    color: #659E01;
    font-family: astoria-medium;
    font-size: 24px;
    position: absolute;
    right: 40px;
    text-align: right;
    /*cursor: pointer;*/
}