.site-logo {
    background-image: url("/bundles/rjpublic/images/logo_rj.png");
    float: left;
    height: 61px;
    width: 338px;
    background-repeat: no-repeat;
    margin-left: 26px;
}
body {
    border-top: 5px solid #1E88EB;
    padding-top: 5px;