{% extends "::base.html.twig" %}

{% block title 'common.messages' | trans %}

{% block info %}
<div class="user-logout">
    <a href="{{ path('fos_user_security_login') }}">»&nbsp;{{ 'login.link' | trans }}</a>
</div>
{% endblock %}

{% block content %}
<div class="column-large">
    <div class="pod-large pod-border pod-padding shadow">
        {% for flashMessage in app.session.flashbag.get('message_title') %}
            <h1>{{ flashMessage }}</h1>
            <div class="row-20"></div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('message_body') %}
            <div class="message-body">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
</div>
<div class="clearboth"></div>
{% endblock %}

