{% extends "CoreBundle::base.html.twig" %}

{% block title 'common.messages' | trans %}

{% block content %}
    <div class="column-large">
        <div class="pod-large pod-border pod-padding shadow">
            {% for flashMessage in title %}
                <h1>{{ flashMessage | raw }}</h1>
                <div class="row-20"></div>
            {% endfor %}
            {% for flashMessage in text %}
                <div class="message-body">
                    {{ flashMessage | raw }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}

