#delete {
    display: none;
}
form li, .errorsGoogleSearch {
    color: red;
}
#search-result-map {
    display: none;
}
.loader {
    display: none;
    text-align: center;
}
.wrapper .pay-box {
    background:#000 url(/bundles/rjpublic/images/bg-internal2.jpg) 50% -55px no-repeat;
}
.wrapper .pay-content {
    height: 312px;
}
.register-tos {
    margin-left: 20px !important;
    width: 380px !important;
}

.loadingSpinner {
    position: absolute;
    margin-top: -14px;
    margin-left: -13px;
}