{% extends "RjPublicBundle::base.html.twig" %}

{% block content %}
  {% if active %} 
      You have successfully activated your account. Please login.
  {% else %}
    <form action="{{ path('user_new_send', {"tenantId": tenantId }) }}" method="post">
        <div class="box type1">
          <h3 class="clearfix">
              <span>Verify Your Email Address</span>
            </h3>
          </div>
          <div class="box type1" style="padding-top: 0px;">
            <div class="col-box clearfix">
              <div class="col">
                <h4>Please check your inbox for an email from RentTrack and click on the verification link.</h4>
                <h4>We have also invited your landlord to sign up. We'll let you know when they do, and when 
                  you can set up your rent payment.</h4>
                <h4>If you don't see an email after a few minutes, click Resend below.</h4>
              </div>
            </div>
          </div>
          <div class="buttons-box clearfix">
            <div class="buttons left">
              <button type="submit" class="button"><span>Resend Verification Email</span></button>
          </div>
        </div>
    </form>
  {% endif %}
{% endblock %}

{% block stylesheets %}
{% endblock %}