{% block stylesheets %}
    <link href="{{ asset('bundles/component/css/account-status.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

<div class="pod-middle pod-border shadow">
    ****
</div>
