.listOfPayments {
    border: 1px solid #A9A9A9;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin-top: 15px;
}
.listOfPayments>thead {
    background-color: #eee;
    width: 100%;
    color: #666;
    padding: 10px;
    border-bottom: 1px solid #C8C8C8;
    font-size: 14px;
    font-family: 'ABeeZee', sans-serif;
    text-shadow: 2px 2px 2px #ffffff;
    filter: dropshadow(color=#ffffff, offx=2, offy=2);
}
.listOfPayments>thead>tr>th{
    text-align: left;
}

.listOfPayments>thead>tr {
    height:33px;
    font-weight: normal;
}
.listOfPayments>tbody {
    width: 100%;
}
.listOfPayments .address {
    width: 300px;
    padding-left: 10px;
}
.listOfPayments .payTo {
    width: 150px;
    padding-left: 10px;
}
.listOfPayments .status {
    width: 70px;
    padding-left: 10px;
}
.listOfPayments .action {
    width: 400px;
}
.listOfPayments td {
    color: #000;
    font-weight: bold;
}
.infoBlock {
    background-color: #EEEEEE;
    display: block;
    padding: 10px;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.infoBlock>.text {
    width: 345px;
    float: left;
    padding-right: 30px;
}
.infoBlock>.text>h3{
    color: #73AF27;
}
.infoBlock>.img {
    float: left;   
}
.infoBlock>.img>img{
    padding-top: 8px;
    width: 460px; 
}
.pod-large {
    padding-top: 20px;
    padding-bottom: 20px;
}
.infoBlock>.text>p{
    line-height: 20px;
    font-size: 15px;
    font-family: 'ABeeZee', sans-serif;
    color: #717171;
}
.button.small, button.small {
  width: auto !important;
}

.listOfPaymentsActive .address {
    width: 170px !important;
}

.addPropertyContainer {
    display: block;
    position: absolute;
    margin-left: 762px;
    margin-top: -20px;
}

.button-contract-pay {
    padding-left: 0 !important;
    height: 25px !important;
}
/*
.contracts td,
.contracts th {
    font-family: "Helvetica Neue",HelveticaNeue,helvetica-neue,helvetica,arial,sans-serif;
}
*/
.table-wrap .contracts-table th {
    background: linear-gradient(to bottom, #F6F6F6 0%, #E6E6E6 100%) repeat scroll 0 0 transparent;
    box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.75) inset;
    color: #666666;
    font: bold 13px/16px "Helvetica Neue",HelveticaNeue,helvetica-neue,helvetica,arial,sans-serif;
    padding: 12px;
    word-wrap: break-word;
}

.contract-delete {
    border: 1px solid red;
    background-image: url("/bundles/rjpublic/images/sprite-icons.png");
    background-repeat: no-repeat;
    background-position: 4px -236px;
    border-radius: 4px 4px 4px 4px;
    display: block;
    height: 23px;
    width: 23px;
    cursor: pointer;
}

button.contract-delete {
    height: 24px;
    width: 24px;
}

.contract-delete-grey {
    border: 1px solid #c4c4c4;
    background-image: url("/bundles/rjpublic/images/sprite-icons.png");
    background-repeat: no-repeat;
    background-position: 4px -236px;
    border-radius: 4px 4px 4px 4px;
    display: block;
    height: 23px;
    width: 23px;
}

.contract-potential {
    width: 90px;
}

.popup-loader {
    margin-top: 80px;
}

.properties-table-block.table-wrap {
    border: 1px solid #BDBDBD;
    border-radius: 4px 4px 4px 4px;
    display: block;
    margin: 0 !important;
    
}

.button-link {
    margin-left: 135px !important;
    width: 225px;
}

.ui-dialog {
    position:absolute;
}

.font-abeezee {
    font-family: 'ABeeZee', sans-serif !important;
}

.font-astoria {
    font-family: astoria-medium !important;
}

.font-helvetica {
    font-family: "Helvetica Neue",HelveticaNeue,helvetica !important;
}
.underline {
    text-decoration: underline;
}
.base-creditcom-logo {
    background: #fff url(/bundles/rjpublic/images/creditcom.png) right center no-repeat;
    width: 160px;
    height: 50px;
    top: 45px;
    position: relative;
    float: right;
    margin-right: -300px;
}
