.isPidVerificationSkipped>li>.step {
    width: 215px;
}
.isPidVerificationSkipped>li>.step>span{
    width: 155px;
}
.isPidVerificationSkipped>li.step4>.step>span{
    width: 135px;
}
.isPidVerificationSkipped>li.step4{
    left: 15px;
}
