<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart", "gauge"]});
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.21&sensor=false&libraries=places&components=country:usa&language=en&key={{ google_maps_key }}&types=regions"></script>
<script id="htmlPopap" type="text/x-jquery-tmpl">
    <div id="content">
        <div style="height:60px; width: 200px;">
            <h1 id="firstHeading" class="firstHeading">${title}</h1>
            <br />
            <div id="bodyContent" style="width:150px;">
                <p>
                    ${content}
                </p>
            </div>
        </div>
    </div>
</script>
