        <div class="group-select">
          <select autocomplete="off" id="holding-group">
            {% for group in aGroups %}
              <option value="{{ group.id }}" {% if group.id == nCurrent %} selected {% endif %}>
                {{ group.name }}
              </option>
            {% endfor %}
          </select>
        </div>
