    <div id="units-block" class="units-wrapper" style="visibility: hidden;" data-bind="style: { visibility: show() ? 'visible' : 'hidden' }">
        <div class="units-background"></div>
        <div  class="units-block border">
            <div class="units-header">
                <div class="floatleft units-total">
                    <span>Total Units:</span><span data-bind="text: total"></span>
                </div>
                <div class="floatright units-add">
                    <span>Add Units:</span><input type="text" class="unit-input" data-bind="value: add">
                    <div class="btn grey" data-bind="click: addUnits">Add</div>
                </div>
            </div>
            <div class="clearboth"></div>
            <div class="row-20"></div>
            <div class="units-edit">
                <!-- ko foreach: { data: aUnits() } -->
                    <div class="units-item">
                        <input type="text" class="unit-input floatleft" data-bind="value: name">
                        <div class="btn grey floatleft unit-delete" data-bind="click: $root.removeUnit">x</div>
                    </div>
                <!-- /ko -->
            </div>
            <div class="clearboth"></div>
            <div class="units-footer">
                <div class="btn orange floatleft" data-bind="click: saveUnits">Save Changes</div>
                <div class="btn grey floatleft" data-bind="click: clearUnits">Cancel</div>
                <div class="btn red floatleft">Delete Property</div>
            </div>
        </div>
    </div>

    <div id="properties-block" class="properties-block">
        <div class="">
            <div class="units-total floatleft"><h2>All ({{ total }})</h2></div>
            <a class="btn orange property-button-add" href="{{ path('landlord_property_new')}}">New Property</a>
        </div>
        <div class="clearboth"></div>
        <div class="properties-table-block">
            <!-- ko if: countProperties() -->
            <table class="properties-table zebra-grid">
                <thead>
                <tr class="properties-th">
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Units</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: { data: aProperties() } -->
                <tr>
                    <td data-bind="text: address"></td>
                    <td data-bind="text: city"></td>
                    <td data-bind="text: area"></td>
                    <td data-bind="text: country"></td>
                    <td data-bind="text: units"></td>
                    <td><div class="btn green property-edit" data-bind="click: $root.editUnits">Edit</div></td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <!-- /ko -->
        </div>
        <div class="clearboth"></div>
    </div>
