    <div id="properties-block" class="properties-block">
        <div class="">
            <div class="units-total floatleft"><h2>All ({{ total }})</h2></div>
            <a class="btn orange property-button-add" href="{{ path('landlord_property_new')}}">New Property</a>
        </div>
        <div class="clearboth"></div>
        <div class="properties-table-block">
            <!-- ko if: countProperties() -->
            <table class="properties-table zebra-grid">
                <thead>
                <tr class="properties-th">
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Units</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: { data: aProperties() } -->
                <tr>
                    <td data-bind="text: address"></td>
                    <td data-bind="text: city"></td>
                    <td data-bind="text: area"></td>
                    <td data-bind="text: country"></td>
                    <td data-bind="text: units"></td>
                    <td><div class="btn green property-edit" data-bind="attr: { id: 'property-' + id }">Edit</div></td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <!-- /ko -->
        </div>
        <div class="clearboth"></div>
    </div>

    <div id="units-block" class="units-block">
        ******
    </div>


<script type="text/javascript">
<!--
$(document).ready(function(){
    var PropertiesViewModel = new Properties();
    PropertiesViewModel.aProperties({% autoescape false %}{{ jsonProperties }}{% endautoescape %});
    ko.applyBindings(PropertiesViewModel, $('#properties-block').get(0));
});
//-->
</script>
